In [1]:
import pandas as pd
import numpy as np 
import copy
from matplotlib import pyplot as plt
import seaborn as sns
from collections import *
import datetime

In [2]:
data=pd.read_csv(r"C:\Users\Mark 1\Desktop\Lockdown\data\Covid-19\83\case_time_series.csv")
data.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30 January,1,1,0,0,0,0
1,31 January,0,1,0,0,0,0
2,01 February,0,1,0,0,0,0
3,02 February,1,2,0,0,0,0
4,03 February,1,3,0,0,0,0

In [3]:
data_total=data[53:]
data_total.reset_index(drop=True,inplace=True)
data_total.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,23 March,94,497,2,25,2,9
1,24 March,74,571,15,40,1,10
2,25 March,86,657,3,43,1,11
3,26 March,73,730,7,50,5,16
4,27 March,153,883,25,75,3,19

In [4]:
data_total.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
180,19 September,92574,5398239,94389,4299730,1149,86190
181,20 September,87395,5485634,92926,4392656,1135,87325
182,21 September,74493,5560127,102070,4494726,1056,88381
183,22 September,83361,5643488,89653,4584379,1085,89466
184,23 September,86703,5730191,87458,4671837,1123,90589

In [5]:
colls=list(data_total.columns)
colls

['Date',
 'Daily Confirmed',
 'Total Confirmed',
 'Daily Recovered',
 'Total Recovered',
 'Daily Deceased',
 'Total Deceased']

In [6]:
data_total.dtypes

Date               object
Daily Confirmed     int64
Total Confirmed     int64
Daily Recovered     int64
Total Recovered     int64
Daily Deceased      int64
Total Deceased      int64
dtype: object

In [7]:
data_total[data_total.duplicated()]

Empty DataFrame
Columns: [Date, Daily Confirmed, Total Confirmed, Daily Recovered, Total Recovered, Daily Deceased, Total Deceased]
Index: []

In [8]:
data_total['Date'] = data_total['Date'].astype('str')

<ipython-input-8-99f82638761e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total['Date'] = data_total['Date'].astype('str')

In [9]:
for i in range(0,9):
    data_total["Date"][i]=data_total["Date"][i].strip(" March")
for i in range(0,9):
    data_total["Date"][i]="2020-03-"+data_total["Date"][i]

<ipython-input-9-d239740191b3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" March")
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-9-d239740191b3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-03-"+data_total["Date"][i]

In [10]:
for i in range(9,39):
    data_total["Date"][i]=data_total["Date"][i].strip(" April")
for i in range(9,39):
    data_total["Date"][i]="2020-04-"+data_total["Date"][i]

<ipython-input-10-aa71c839161c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" April")
<ipython-input-10-aa71c839161c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-04-"+data_total["Date"][i]

In [11]:
for i in range(39,70):
    data_total["Date"][i]=data_total["Date"][i].strip(" May")
for i in range(39,70):
    data_total["Date"][i]="2020-05-"+data_total["Date"][i]

<ipython-input-11-53c499d84780>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" May")
<ipython-input-11-53c499d84780>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-05-"+data_total["Date"][i]

In [12]:
for i in range(70,100):
    data_total["Date"][i]=data_total["Date"][i].strip(" June")
for i in range(70,100):
    data_total["Date"][i]="2020-06-"+data_total["Date"][i]

<ipython-input-12-1a0a85fafe5b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" June")
<ipython-input-12-1a0a85fafe5b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-06-"+data_total["Date"][i]

In [13]:
for i in range(100,131):
    data_total["Date"][i]=data_total["Date"][i].strip(" July")
for i in range(100,131):
    data_total["Date"][i]="2020-07-"+data_total["Date"][i]

<ipython-input-13-208466873f51>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" July")
<ipython-input-13-208466873f51>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-07-"+data_total["Date"][i]

In [14]:

for i in range(131,162):
    data_total["Date"][i]=data_total["Date"][i].strip(" August")
for i in range(131,162):
    data_total["Date"][i]="2020-08-"+data_total["Date"][i]

<ipython-input-14-16f669050c92>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" August")
<ipython-input-14-16f669050c92>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-08-"+data_total["Date"][i]

In [15]:

for i in range(162,len(data_total)):
    data_total["Date"][i]=data_total["Date"][i].strip(" September")
for i in range(162,len(data_total)):
    data_total["Date"][i]="2020-09-"+data_total["Date"][i]

<ipython-input-15-4f4f1e378eff>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" September")
<ipython-input-15-4f4f1e378eff>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-09-"+data_total["Date"][i]

In [16]:
data_total["Date"]=data_total["Date"].astype('datetime64[ns]')

<ipython-input-16-a317546e137f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"]=data_total["Date"].astype('datetime64[ns]')

In [17]:
data_total.dtypes

Date               datetime64[ns]
Daily Confirmed             int64
Total Confirmed             int64
Daily Recovered             int64
Total Recovered             int64
Daily Deceased              int64
Total Deceased              int64
dtype: object

In [18]:
data_total_ratio_with_two_precision=data_total.copy()

In [19]:
new_cols=["Daily_Confirmed_Ratio","Total_Confirmed_Ratio","Daily_Recovered_Ratio","Total_Recovered_Ratio","Daily_Deceased_Ratio","Total_Deceased_Ratio"]
existing_cols=list(data_total_ratio_with_two_precision.columns)
existing_cols.pop(0)
existing_cols
for i,j in zip(new_cols,existing_cols):
    data_total_ratio_with_two_precision[i]=list(range(len(data_total_ratio_with_two_precision)))
    data_total_ratio_with_two_precision[i][0]=1
    tmp=[]
    tmp.append(data_total_ratio_with_two_precision[i][0])
    for k in range(0,len(data_total_ratio_with_two_precision)-1):
        tmp.append(round(data_total_ratio_with_two_precision[j][k+1]/data_total_ratio_with_two_precision[j][k],2))
    data_total_ratio_with_two_precision[i]=tmp
data_total_ratio_with_two_precision.head()

<ipython-input-19-c038b6b9f526>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total_ratio_with_two_precision[i][0]=1

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Daily_Confirmed_Ratio,Total_Confirmed_Ratio,Daily_Recovered_Ratio,Total_Recovered_Ratio,Daily_Deceased_Ratio,Total_Deceased_Ratio
0,2020-03-23,94,497,2,25,2,9,1.00,1.00,1.00,1.00,1.0,1.00
1,2020-03-24,74,571,15,40,1,10,0.79,1.15,7.50,1.60,0.5,1.11
2,2020-03-25,86,657,3,43,1,11,1.16,1.15,0.20,1.08,1.0,1.10
3,2020-03-26,73,730,7,50,5,16,0.85,1.11,2.33,1.16,5.0,1.45
4,2020-03-27,153,883,25,75,3,19,2.10,1.21,3.57,1.50,0.6,1.19

In [20]:
data_total_ratio=data_total.copy()

In [21]:
new_cols=["Daily_Confirmed_Ratio","Total_Confirmed_Ratio","Daily_Recovered_Ratio","Total_Recovered_Ratio","Daily_Deceased_Ratio","Total_Deceased_Ratio"]
existing_cols=list(data_total_ratio.columns)
existing_cols.pop(0)
existing_cols
for i,j in zip(new_cols,existing_cols):
    data_total_ratio[i]=list(range(len(data_total_ratio)))
    data_total_ratio[i][0]=1
    tmp=[]
    tmp.append(data_total_ratio[i][0])
    for k in range(0,len(data_total_ratio)-1):
        tmp.append(data_total_ratio[j][k+1]/data_total_ratio[j][k])
    data_total_ratio[i]=tmp
data_total_ratio.head()

<ipython-input-21-6e1737506d3a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total_ratio[i][0]=1

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Daily_Confirmed_Ratio,Total_Confirmed_Ratio,Daily_Recovered_Ratio,Total_Recovered_Ratio,Daily_Deceased_Ratio,Total_Deceased_Ratio
0,2020-03-23,94,497,2,25,2,9,1.000000,1.000000,1.000000,1.000000,1.0,1.000000
1,2020-03-24,74,571,15,40,1,10,0.787234,1.148893,7.500000,1.600000,0.5,1.111111
2,2020-03-25,86,657,3,43,1,11,1.162162,1.150613,0.200000,1.075000,1.0,1.100000
3,2020-03-26,73,730,7,50,5,16,0.848837,1.111111,2.333333,1.162791,5.0,1.454545
4,2020-03-27,153,883,25,75,3,19,2.095890,1.209589,3.571429,1.500000,0.6,1.187500

In [22]:
strt_cnt=1
end_cnt=8
strt_lst=[]
end_lst=[]
strt_lst.append(strt_cnt)
end_lst.append(end_cnt)
while(end_cnt<=len(data_total_ratio)):
        strt_cnt+=1
        strt_lst.append(strt_cnt)
        end_cnt+=1
        end_lst.append(end_cnt)
if(end_lst[len(end_lst)-1]>=len(data_total_ratio)):
    end_lst.pop(len(end_lst)-1)
strt_lst.pop(len(strt_lst)-1)
#print(strt_lst)
#print(end_lst)
#print(len(strt_lst)==len(end_lst))

for st,en in zip(strt_lst,end_lst):

    tcr=data_total_ratio.iloc[st:en,12:13]
    tcr.reset_index(inplace = True, drop = True)
    tc=data_total_ratio.iloc[st:en,6:7]
    tc.reset_index(inplace = True, drop = True)



    next_day_tconfirmed_case_count_mean_based=tcr.mean()[0]*tc.mean()[0]

    next_day_tconfirmed_case_count_max_based=max(tcr["Total_Deceased_Ratio"])*max(tc["Total Deceased"])


    next_day_tconfirmed_case_count_mean_max_based=tcr.mean()[0]*max(tc["Total Deceased"])


    next_day_tconfirmed_case_count_max_mean_based=max(tcr["Total_Deceased_Ratio"])*tc.mean()[0]


    next_day_tconfirmed_case_count_mean_last_based=tcr.mean()[0]*tc["Total Deceased"][len(tc)-1]


    next_day_tconfirmed_case_count_last_mean_based=tcr["Total_Deceased_Ratio"][len(tcr)-1]*tc.mean()[0]


    next_day_tconfirmed_case_count_last_based=tcr["Total_Deceased_Ratio"][len(tcr)-1]*tc["Total Deceased"][len(tc)-1]


    next_day_tconfirmed_case_count_middle_based=tcr["Total_Deceased_Ratio"][3]*tc["Total Deceased"][3]


    pred_val=[]
    pred_val.append(np.round(next_day_tconfirmed_case_count_mean_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_max_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_mean_max_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_max_mean_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_mean_last_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_last_mean_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_last_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_middle_based))


    
    if(en<len(data_total_ratio)):
        pred_dict={"date":data_total_ratio["Date"][en-1]+datetime.timedelta(hours=24),"original_val":data_total_ratio["Total Deceased"][en],"mean_based":pred_val[0],"max_based":pred_val[1],"mean_max_based":pred_val[2],"max_mean_based":pred_val[3],"mean_last_based":pred_val[4],"last_mean_based":pred_val[5],"last_based":pred_val[6],"middle_based":pred_val[7]}
    else:
        pred_dict={"date":data_total_ratio["Date"][en-1]+datetime.timedelta(hours=24),"original_val":0,"mean_based":pred_val[0],"max_based":pred_val[1],"mean_max_based":pred_val[2],"max_mean_based":pred_val[3],"mean_last_based":pred_val[4],"last_mean_based":pred_val[5],"last_based":pred_val[6],"middle_based":pred_val[7]}
        
        
        
    
    
    pred_df=pd.DataFrame(pred_dict, index=[0])
    
    

d=pd.read_excel(r"C:\Users\Mark 1\tdamprd_df_strd.xlsx")
d=pd.concat([d,pred_df])
d.reset_index(drop=True,inplace=True)
d['original_val'][len(d)-2]=data_total_ratio['Total Deceased'][len(data_total_ratio)-1]
d.to_excel("tdamprd_df_strd.xlsx")

<ipython-input-22-f86d80fdf799>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['original_val'][len(d)-2]=data_total_ratio['Total Deceased'][len(data_total_ratio)-1]

In [23]:
tc=pd.read_excel(r"C:\Users\Mark 1\tdamprd_df_strd.xlsx")
tc = tc.loc[:, ~tc.columns.str.contains('^Unnamed')]
tc

,date,original_val,mean_based,max_based,mean_max_based,max_mean_based,mean_last_based,last_mean_based,last_based,middle_based
0,2020-03-31,47,26,62,51,32,51,32,62,23
1,2020-04-01,53,33,71,59,40,59,30,54,30
2,2020-04-02,69,41,80,67,49,67,37,60,30
3,2020-04-03,83,50,105,85,61,85,52,90,62
4,2020-04-04,96,61,126,103,75,103,59,100,54
...,...,...,...,...,...,...,...,...,...,...
176,2020-09-20,87325,83839,87566,87423,83976,87423,83773,87355,83801
177,2020-09-21,88381,85004,88719,88557,85160,88557,84925,88475,85012
178,2020-09-22,89466,86171,89792,89612,86344,89612,86014,89450,86280
179,2020-09-23,90589,87278,90769,90665,87379,90665,87181,90564,87355
180,2020-09-24,0,88410,91909,91785,88530,91785,88354,91726,88475

In [24]:
tce=tc.copy()

In [25]:
colls=list(tc.columns)
colls.pop(0)
colls.pop(0)
collss=["mb","mxb","memb","mxmb","mlb","lmb","lb","mdb"]
for i in collss:
    tce[i]=pd.Series(range(1,len(tce)+1))
colls

['mean_based',
 'max_based',
 'mean_max_based',
 'max_mean_based',
 'mean_last_based',
 'last_mean_based',
 'last_based',
 'middle_based']

In [26]:
for i,j in zip(colls,collss):
    for k in range(len(tce)):
        tce[j][k]=tce["original_val"][k]-tce[i][k]
tce

<ipython-input-26-35e3607d3c2a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tce[j][k]=tce["original_val"][k]-tce[i][k]

,date,original_val,mean_based,max_based,mean_max_based,max_mean_based,mean_last_based,last_mean_based,last_based,middle_based,mb,mxb,memb,mxmb,mlb,lmb,lb,mdb
0,2020-03-31,47,26,62,51,32,51,32,62,23,21,-15,-4,15,-4,15,-15,24
1,2020-04-01,53,33,71,59,40,59,30,54,30,20,-18,-6,13,-6,23,-1,23
2,2020-04-02,69,41,80,67,49,67,37,60,30,28,-11,2,20,2,32,9,39
3,2020-04-03,83,50,105,85,61,85,52,90,62,33,-22,-2,22,-2,31,-7,21
4,2020-04-04,96,61,126,103,75,103,59,100,54,35,-30,-7,21,-7,37,-4,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,2020-09-20,87325,83839,87566,87423,83976,87423,83773,87355,83801,3486,-241,-98,3349,-98,3552,-30,3524
177,2020-09-21,88381,85004,88719,88557,85160,88557,84925,88475,85012,3377,-338,-176,3221,-176,3456,-94,3369
178,2020-09-22,89466,86171,89792,89612,86344,89612,86014,89450,86280,3295,-326,-146,3122,-146,3452,16,3186
179,2020-09-23,90589,87278,90769,90665,87379,90665,87181,90564,87355,3311,-180,-76,3210,-76,3408,25,3234
180,2020-09-24,0,88410,91909,91785,88530,91785,88354,91726,88475,-88410,-91909,-91785,-88530,-91785,-88354,-91726,-88475

In [27]:
tce.to_excel("tdamerrprd_df_strd.xlsx")
tce=pd.read_excel(r"C:\Users\Mark 1\tdamerrprd_df_strd.xlsx")
tce = tce.loc[:, ~tce.columns.str.contains('^Unnamed')]
tce.to_excel("tdamerrprd_df_strd.xlsx")

In [28]:
edf=tce.iloc[0:len(tce),10:]
edf

        mb    mxb   memb   mxmb    mlb    lmb     lb    mdb
0       21    -15     -4     15     -4     15    -15     24
1       20    -18     -6     13     -6     23     -1     23
2       28    -11      2     20      2     32      9     39
3       33    -22     -2     22     -2     31     -7     21
4       35    -30     -7     21     -7     37     -4     42
..     ...    ...    ...    ...    ...    ...    ...    ...
176   3486   -241    -98   3349    -98   3552    -30   3524
177   3377   -338   -176   3221   -176   3456    -94   3369
178   3295   -326   -146   3122   -146   3452     16   3186
179   3311   -180    -76   3210    -76   3408     25   3234
180 -88410 -91909 -91785 -88530 -91785 -88354 -91726 -88475

[181 rows x 8 columns]

In [29]:
"""
for j,k in zip(range(len(edf)),range(len(tce)-1)):
    
    a=list(edf.loc[j])
    pos=[]
    neg=[]
    for i in a:
        if(i>=0):
            pos.append(i)
        else:
            neg.append(i)
    if(len(pos)):
        ps=min(pos)
        psi=a.index(ps)
        psc=list(edf.columns)[psi]
    if(len(neg)):
        ng=max(neg)
        ngi=a.index(ng)
        ngc=list(edf.columns)[ngi]
    
    
    print("for date: "+str(tce["date"][k]).strip("00:00:00")+" the lowest positve error was by the method: "+psc+" and the highest negative error by the method: "+ngc)
    """

'\nfor j,k in zip(range(len(edf)),range(len(tce)-1)):\n    \n    a=list(edf.loc[j])\n    pos=[]\n    neg=[]\n    for i in a:\n        if(i>=0):\n            pos.append(i)\n        else:\n            neg.append(i)\n    if(len(pos)):\n        ps=min(pos)\n        psi=a.index(ps)\n        psc=list(edf.columns)[psi]\n    if(len(neg)):\n        ng=max(neg)\n        ngi=a.index(ng)\n        ngc=list(edf.columns)[ngi]\n    \n    \n    print("for date: "+str(tce["date"][k]).strip("00:00:00")+" the lowest positve error was by the method: "+psc+" and the highest negative error by the method: "+ngc)\n    '

In [30]:
err_dict={"date":[],"mipe":[],"mxne":[],"mipv":[],"mxnv":[],"original_val":[],"pprd_val":[],"nprd_val":[]}
psc=[]
ngc=[]
date=[]
ps=[]
ng=[]
org_val=[]
pprd_val=[]
nprd_val=[]
for j,k in zip(range(len(edf)),range(len(tce))):
    
    a=list(edf.loc[j])
    pos=[]
    neg=[]
    for i in a:
        if(i>=0):
            pos.append(i)
        else:
            neg.append(i)
    if(len(pos)):
        aa=min(pos)
    
        psi=a.index(aa)
    
        ps.append(aa)
    
        psc.append(list(edf.columns)[psi])
    
    
        pprd_val.append(tce["original_val"][k]-aa)
    else:
        ps.append("No")
    
        psc.append("No")
    
    
        pprd_val.append("No")
        
    
    if(len(neg)):
        bb=max(neg)
        ngi=a.index(bb)
        ng.append(bb)
        ngc.append(list(edf.columns)[ngi])
        nprd_val.append(tce["original_val"][k]-bb)
    else:
        ng.append("No")
    
        ngc.append("No")
    
    
        nprd_val.append("No")
    
    date.append(str(tce["date"][k]).strip("00:00:00"))
    org_val.append(tce["original_val"][k])
err_dict.update({"date":date})
err_dict.update({"mipe":psc})
err_dict.update({"mxne":ngc})
err_dict.update({"mipv":ps})
err_dict.update({"mxnv":ng})
err_dict.update({"original_val":org_val})
err_dict.update({"pprd_val":pprd_val})
err_dict.update({"nprd_val":nprd_val})

In [31]:
err_dict

{'date': ['2020-03-31 ',
  '2020-04-01 ',
  '2020-04-02 ',
  '2020-04-03 ',
  '2020-04-04 ',
  '2020-04-05 ',
  '2020-04-06 ',
  '2020-04-07 ',
  '2020-04-08 ',
  '2020-04-09 ',
  '2020-04-10 ',
  '2020-04-11 ',
  '2020-04-12 ',
  '2020-04-13 ',
  '2020-04-14 ',
  '2020-04-15 ',
  '2020-04-16 ',
  '2020-04-17 ',
  '2020-04-18 ',
  '2020-04-19 ',
  '2020-04-20 ',
  '2020-04-21 ',
  '2020-04-22 ',
  '2020-04-23 ',
  '2020-04-24 ',
  '2020-04-25 ',
  '2020-04-26 ',
  '2020-04-27 ',
  '2020-04-28 ',
  '2020-04-29 ',
  '2020-04-30 ',
  '2020-05-01 ',
  '2020-05-02 ',
  '2020-05-03 ',
  '2020-05-04 ',
  '2020-05-05 ',
  '2020-05-06 ',
  '2020-05-07 ',
  '2020-05-08 ',
  '2020-05-09 ',
  '2020-05-10 ',
  '2020-05-11 ',
  '2020-05-12 ',
  '2020-05-13 ',
  '2020-05-14 ',
  '2020-05-15 ',
  '2020-05-16 ',
  '2020-05-17 ',
  '2020-05-18 ',
  '2020-05-19 ',
  '2020-05-20 ',
  '2020-05-21 ',
  '2020-05-22 ',
  '2020-05-23 ',
  '2020-05-24 ',
  '2020-05-25 ',
  '2020-05-26 ',
  '2020-05-27 ',
  '2020-05-28 ',
  '2020-05-29 ',
  '2020-05-30 ',
  '2020-05-31 ',
  '2020-06-01 ',
  '2020-06-02 ',
  '2020-06-03 ',
  '2020-06-04 ',
  '2020-06-05 ',
  '2020-06-06 ',
  '2020-06-07 ',
  '2020-06-08 ',
  '2020-06-09 ',
  '2020-06-10 ',
  '2020-06-11 ',
  '2020-06-12 ',
  '2020-06-13 ',
  '2020-06-14 ',
  '2020-06-15 ',
  '2020-06-16 ',
  '2020-06-17 ',
  '2020-06-18 ',
  '2020-06-19 ',
  '2020-06-20 ',
  '2020-06-21 ',
  '2020-06-22 ',
  '2020-06-23 ',
  '2020-06-24 ',
  '2020-06-25 ',
  '2020-06-26 ',
  '2020-06-27 ',
  '2020-06-28 ',
  '2020-06-29 ',
  '2020-06-30 ',
  '2020-07-01 ',
  '2020-07-02 ',
  '2020-07-03 ',
  '2020-07-04 ',
  '2020-07-05 ',
  '2020-07-06 ',
  '2020-07-07 ',
  '2020-07-08 ',
  '2020-07-09 ',
  '2020-07-10 ',
  '2020-07-11 ',
  '2020-07-12 ',
  '2020-07-13 ',
  '2020-07-14 ',
  '2020-07-15 ',
  '2020-07-16 ',
  '2020-07-17 ',
  '2020-07-18 ',
  '2020-07-19 ',
  '2020-07-20 ',
  '2020-07-21 ',
  '2020-07-22 ',
  '2020-07-23 ',
  '2020-07-24 ',
  '2020-07-25 ',
  '2020-07-26 ',
  '2020-07-27 ',
  '2020-07-28 ',
  '2020-07-29 ',
  '2020-07-30 ',
  '2020-07-31 ',
  '2020-08-01 ',
  '2020-08-02 ',
  '2020-08-03 ',
  '2020-08-04 ',
  '2020-08-05 ',
  '2020-08-06 ',
  '2020-08-07 ',
  '2020-08-08 ',
  '2020-08-09 ',
  '2020-08-10 ',
  '2020-08-11 ',
  '2020-08-12 ',
  '2020-08-13 ',
  '2020-08-14 ',
  '2020-08-15 ',
  '2020-08-16 ',
  '2020-08-17 ',
  '2020-08-18 ',
  '2020-08-19 ',
  '2020-08-20 ',
  '2020-08-21 ',
  '2020-08-22 ',
  '2020-08-23 ',
  '2020-08-24 ',
  '2020-08-25 ',
  '2020-08-26 ',
  '2020-08-27 ',
  '2020-08-28 ',
  '2020-08-29 ',
  '2020-08-30 ',
  '2020-08-31 ',
  '2020-09-01 ',
  '2020-09-01 ',
  '2020-09-02 ',
  '2020-09-03 ',
  '2020-09-04 ',
  '2020-09-05 ',
  '2020-09-06 ',
  '2020-09-07 ',
  '2020-09-08 ',
  '2020-09-09 ',
  '2020-09-09 ',
  '2020-09-10 ',
  '2020-09-11 ',
  '2020-09-12 ',
  '2020-09-13 ',
  '2020-09-13 ',
  '2020-09-14 ',
  '2020-09-15 ',
  '2020-09-16 ',
  '2020-09-17 ',
  '2020-09-18 ',
  '2020-09-19 ',
  '2020-09-20 ',
  '2020-09-21 ',
  '2020-09-22 ',
  '2020-09-23 ',
  '2020-09-24 '],
 'mipe': ['mxmb',
  'mxmb',
  'memb',
  'mdb',
  'mxmb',
  'memb',
  'mxmb',
  'memb',
  'mxmb',
  'memb',
  'mxmb',
  'lb',
  'mxmb',
  'mdb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'memb',
  'mxmb',
  'lb',
  'memb',
  'mdb',
  'memb',
  'mxmb',
  'memb',
  'memb',
  'memb',
  'mxmb',
  'mxb',
  'mxb',
  'mxmb',
  'memb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'lb',
  'mxmb',
  'lb',
  'lb',
  'memb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'mxmb',
  'memb',
  'mxb',
  'mxmb',
  'mxb',
  'mxmb',
  'memb',
  'mxmb',
  'lb',
  'memb',
  'lb',
  'lb',
  'memb',
  'mxmb',
  'lb',
  'mxmb',
  'mxb',
  'mxb',
  'memb',
  'mxmb',
  'lb',
  'memb',
  'mxb',
  'mxmb',
  'mxmb',
  'lb',
  'mb',
  'lb',
  'mb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'mxb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'lb',
  'mxmb',
  'lb',
  'mxb',
  'mxb',
  'mxb',
  'memb',
  'mxmb',
  'memb',
  'mdb',
  'lb',
  'mxb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mdb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxb',
  'mxmb',
  'lb',
  'lb',
  'memb',
  'memb',
  'lb',
  'mxmb',
  'mxb',
  'mxmb',
  'mxmb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'memb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mdb',
  'mxmb',
  'mxmb',
  'memb',
  'memb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'mdb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'mxb',
  'memb',
  'mxmb',
  'mxb',
  'mxb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'mdb',
  'memb',
  'mxmb',
  'lb',
  'lb',
  'mdb',
  'mxmb',
  'mxmb',
  'lb',
  'lb',
  'No'],
 'mxne': ['memb',
  'lb',
  'mxb',
  'memb',
  'lb',
  'mxb',
  'lb',
  'mxb',
  'memb',
  'mxb',
  'memb',
  'memb',
  'lb',
  'lb',
  'memb',
  'lb',
  'lb',
  'memb',
  'lb',
  'memb',
  'lb',
  'mxb',
  'memb',
  'memb',
  'mxb',
  'memb',
  'mxb',
  'memb',
  'mxb',
  'lb',
  'lb',
  'memb',
  'No',
  'No',
  'memb',
  'mxb',
  'memb',
  'memb',
  'lb',
  'memb',
  'lb',
  'lb',
  'memb',
  'mxb',
  'memb',
  'memb',
  'memb',
  'mxb',
  'memb',
  'memb',
  'memb',
  'memb',
  'lb',
  'lb',
  'memb',
  'lb',
  'mxb',
  'No',
  'memb',
  'No',
  'memb',
  'mxb',
  'lb',
  'memb',
  'mxb',
  'mxb',
  'mxb',
  'mxb',
  'memb',
  'memb',
  'lb',
  'No',
  'No',
  'mxb',
  'memb',
  'memb',
  'mxb',
  'No',
  'memb',
  'lb',
  'memb',
  'lb',
  'memb',
  'lb',
  'memb',
  'mxb',
  'memb',
  'lb',
  'memb',
  'lb',
  'memb',
  'mxb',
  'memb',
  'lb',
  'memb',
  'No',
  'memb',
  'memb',
  'lb',
  'memb',
  'lb',
  'memb',
  'memb',
  'memb',
  'memb',
  'No',
  'No',
  'No',
  'mxb',
  'memb',
  'mxb',
  'memb',
  'memb',
  'No',
  'memb',
  'lb',
  'lb',
  'lb',
  'lb',
  'memb',
  'lb',
  'lb',
  'memb',
  'No',
  'memb',
  'memb',
  'memb',
  'mxb',
  'lb',
  'mxb',
  'memb',
  'No',
  'memb',
  'lb',
  'memb',
  'mxb',
  'memb',
  'lb',
  'lb',
  'lb',
  'mxb',
  'memb',
  'lb',
  'lb',
  'lb',
  'lb',
  'lb',
  'mxb',
  'lb',
  'mxb',
  'memb',
  'memb',
  'memb',
  'lb',
  'lb',
  'memb',
  'memb',
  'mxb',
  'lb',
  'memb',
  'lb',
  'No',
  'mxb',
  'memb',
  'No',
  'No',
  'mxb',
  'memb',
  'lb',
  'memb',
  'lb',
  'mxb',
  'memb',
  'memb',
  'memb',
  'memb',
  'lb',
  'lb',
  'memb',
  'memb',
  'lmb'],
 'mipv': [15,
  13,
  2,
  21,
  21,
  0,
  24,
  2,
  48,
  11,
  70,
  17,
  88,
  74,
  8,
  59,
  41,
  10,
  67,
  0,
  89,
  9,
  109,
  2,
  8,
  121,
  0,
  141,
  5,
  5,
  2,
  201,
  2,
  41,
  271,
  9,
  283,
  8,
  256,
  13,
  241,
  249,
  36,
  11,
  313,
  3,
  12,
  21,
  354,
  9,
  370,
  9,
  397,
  393,
  9,
  423,
  3,
  1,
  500,
  65,
  558,
  0,
  573,
  14,
  9,
  3,
  0,
  17,
  804,
  0,
  799,
  9,
  19,
  29,
  978,
  4,
  9,
  1522,
  920,
  549,
  11,
  1440,
  111,
  955,
  149,
  15,
  1142,
  1124,
  24,
  1103,
  24,
  47,
  1250,
  1195,
  58,
  52,
  1286,
  43,
  1281,
  2,
  1287,
  30,
  10,
  1507,
  30,
  5,
  12,
  50,
  50,
  1771,
  25,
  1791,
  62,
  345,
  2002,
  2015,
  1956,
  1751,
  1726,
  119,
  1666,
  2151,
  2173,
  8,
  2312,
  31,
  26,
  49,
  6,
  18,
  2616,
  10,
  2712,
  2616,
  100,
  14,
  2746,
  2737,
  2729,
  2742,
  84,
  2855,
  2840,
  2805,
  2709,
  2591,
  2474,
  52,
  10,
  31,
  2937,
  2894,
  3,
  2653,
  1670,
  201,
  2767,
  41,
  23,
  3060,
  2453,
  94,
  82,
  2020,
  3,
  26,
  64,
  3420,
  2268,
  13,
  3274,
  71,
  3366,
  18,
  29,
  3384,
  3349,
  3221,
  16,
  25,
  'No'],
 'mxnv': [-4,
  -1,
  -11,
  -2,
  -4,
  -28,
  -11,
  -13,
  -11,
  -9,
  -20,
  -2,
  -6,
  -21,
  -18,
  -14,
  -3,
  -8,
  -6,
  -8,
  -8,
  -8,
  -11,
  -8,
  -6,
  -11,
  -18,
  -1,
  -15,
  -3,
  -1,
  -3,
  'No',
  'No',
  -7,
  -38,
  -40,
  -29,
  -13,
  -26,
  -10,
  -37,
  -9,
  -4,
  -37,
  -27,
  -11,
  -11,
  -7,
  -1,
  -17,
  -1,
  -12,
  -6,
  -12,
  -12,
  -20,
  'No',
  -7,
  'No',
  -6,
  -74,
  -31,
  -20,
  -74,
  -74,
  -77,
  -2,
  -35,
  -31,
  -9,
  'No',
  'No',
  -25,
  -68,
  -53,
  -67,
  'No',
  -432,
  -8,
  -385,
  -67,
  -310,
  -128,
  -265,
  -60,
  -21,
  -31,
  -19,
  -41,
  -25,
  -58,
  -26,
  -71,
  -16,
  'No',
  -82,
  -35,
  -5,
  -18,
  -25,
  -15,
  -4,
  -34,
  -5,
  'No',
  'No',
  'No',
  -23,
  -109,
  -57,
  -83,
  -16,
  'No',
  -32,
  -11,
  -79,
  -15,
  -77,
  -73,
  -17,
  -9,
  -38,
  'No',
  -65,
  -27,
  -10,
  -11,
  -41,
  -36,
  -63,
  'No',
  -95,
  -68,
  -39,
  -93,
  -18,
  -60,
  -8,
  -98,
  -10,
  -85,
  -16,
  -46,
  -52,
  -87,
  -5,
  -173,
  -68,
  -39,
  -6,
  -90,
  -77,
  -158,
  -826,
  -21,
  -15,
  -104,
  -34,
  -5,
  -648,
  'No',
  -40,
  -1059,
  'No',
  'No',
  -34,
  -63,
  -1127,
  -65,
  -103,
  -23,
  -100,
  -60,
  -5,
  -79,
  -30,
  -94,
  -146,
  -76,
  -88354],
 'original_val': [47,
  53,
  69,
  83,
  96,
  118,
  134,
  161,
  181,
  227,
  249,
  290,
  332,
  359,
  396,
  423,
  449,
  487,
  522,
  560,
  593,
  646,
  682,
  722,
  781,
  825,
  881,
  939,
  1008,
  1079,
  1154,
  1231,
  1323,
  1463,
  1566,
  1694,
  1785,
  1889,
  1986,
  2101,
  2213,
  2294,
  2414,
  2551,
  2648,
  2752,
  2872,
  3024,
  3155,
  3301,
  3435,
  3583,
  3725,
  3867,
  4023,
  4173,
  4346,
  4534,
  4710,
  4979,
  5184,
  5406,
  5607,
  5829,
  6088,
  6362,
  6648,
  6945,
  7206,
  7477,
  7749,
  8107,
  8501,
  8889,
  9198,
  9522,
  9918,
  11922,
  12263,
  12606,
  12970,
  13278,
  13704,
  14016,
  14484,
  14908,
  15309,
  15690,
  16104,
  16488,
  16905,
  17411,
  17849,
  18227,
  18671,
  19282,
  19703,
  20176,
  20655,
  21147,
  21626,
  22146,
  22689,
  23189,
  23730,
  24317,
  24931,
  25611,
  26287,
  26830,
  27505,
  28101,
  28772,
  29902,
  30657,
  31420,
  32123,
  32827,
  33469,
  34243,
  35018,
  35802,
  36566,
  37420,
  38180,
  38986,
  39835,
  40754,
  41653,
  42590,
  43465,
  44478,
  45364,
  46200,
  47150,
  48156,
  49146,
  50096,
  51057,
  51937,
  53035,
  54006,
  54987,
  55940,
  56858,
  57704,
  58558,
  59624,
  60641,
  61706,
  62725,
  63669,
  64629,
  65445,
  65445,
  66472,
  67498,
  68581,
  69647,
  70691,
  71103,
  72232,
  73339,
  73339,
  74507,
  75720,
  76919,
  78030,
  78030,
  79170,
  80224,
  81507,
  82646,
  83820,
  85041,
  86190,
  87325,
  88381,
  89466,
  90589,
  0],
 'pprd_val': [32,
  40,
  67,
  62,
  75,
  118,
  110,
  159,
  133,
  216,
  179,
  273,
  244,
  285,
  388,
  364,
  408,
  477,
  455,
  560,
  504,
  637,
  573,
  720,
  773,
  704,
  881,
  798,
  1003,
  1074,
  1152,
  1030,
  1321,
  1422,
  1295,
  1685,
  1502,
  1881,
  1730,
  2088,
  1972,
  2045,
  2378,
  2540,
  2335,
  2749,
  2860,
  3003,
  2801,
  3292,
  3065,
  3574,
  3328,
  3474,
  4014,
  3750,
  4343,
  4533,
  4210,
  4914,
  4626,
  5406,
  5034,
  5815,
  6079,
  6359,
  6648,
  6928,
  6402,
  7477,
  6950,
  8098,
  8482,
  8860,
  8220,
  9518,
  9909,
  10400,
  11343,
  12057,
  12959,
  11838,
  13593,
  13061,
  14335,
  14893,
  14167,
  14566,
  16080,
  15385,
  16881,
  17364,
  16599,
  17032,
  18613,
  19230,
  18417,
  20133,
  19374,
  21145,
  20339,
  22116,
  22679,
  21682,
  23700,
  24312,
  24919,
  25561,
  26237,
  25059,
  27480,
  26310,
  28710,
  29557,
  28655,
  29405,
  30167,
  31076,
  31743,
  34124,
  33352,
  33651,
  34393,
  37412,
  35868,
  38955,
  39809,
  40705,
  41647,
  42572,
  40849,
  44468,
  42652,
  43584,
  47050,
  48142,
  46400,
  47359,
  48328,
  49195,
  52951,
  51151,
  52147,
  53135,
  54149,
  55113,
  56084,
  59572,
  60631,
  61675,
  59788,
  60775,
  64626,
  62792,
  63775,
  66271,
  64731,
  68540,
  69624,
  67631,
  68650,
  72138,
  73257,
  71319,
  74504,
  75694,
  76855,
  74610,
  75762,
  79157,
  76950,
  81436,
  79280,
  83802,
  85012,
  82806,
  83976,
  85160,
  89450,
  90564,
  'No'],
 'nprd_val': [51,
  54,
  80,
  85,
  100,
  146,
  145,
  174,
  192,
  236,
  269,
  292,
  338,
  380,
  414,
  437,
  452,
  495,
  528,
  568,
  601,
  654,
  693,
  730,
  787,
  836,
  899,
  940,
  1023,
  1082,
  1155,
  1234,
  'No',
  'No',
  1573,
  1732,
  1825,
  1918,
  1999,
  2127,
  2223,
  2331,
  2423,
  2555,
  2685,
  2779,
  2883,
  3035,
  3162,
  3302,
  3452,
  3584,
  3737,
  3873,
  4035,
  4185,
  4366,
  'No',
  4717,
  'No',
  5190,
  5480,
  5638,
  5849,
  6162,
  6436,
  6725,
  6947,
  7241,
  7508,
  7758,
  'No',
  'No',
  8914,
  9266,
  9575,
  9985,
  'No',
  12695,
  12614,
  13355,
  13345,
  14014,
  14144,
  14749,
  14968,
  15330,
  15721,
  16123,
  16529,
  16930,
  17469,
  17875,
  18298,
  18687,
  'No',
  19785,
  20211,
  20660,
  21165,
  21651,
  22161,
  22693,
  23223,
  23735,
  'No',
  'No',
  'No',
  26310,
  26939,
  27562,
  28184,
  28788,
  'No',
  30689,
  31431,
  32202,
  32842,
  33546,
  34316,
  35035,
  35811,
  36604,
  'No',
  38245,
  39013,
  39845,
  40765,
  41694,
  42626,
  43528,
  'No',
  45459,
  46268,
  47189,
  48249,
  49164,
  50156,
  51065,
  52035,
  53045,
  54091,
  55003,
  55986,
  56910,
  57791,
  58563,
  59797,
  60709,
  61745,
  62731,
  63759,
  64706,
  65603,
  66271,
  66493,
  67513,
  68685,
  69681,
  70696,
  71751,
  'No',
  73379,
  74398,
  'No',
  'No',
  76953,
  78093,
  79157,
  79235,
  80327,
  81530,
  82746,
  83880,
  85046,
  86269,
  87355,
  88475,
  89612,
  90665,
  88354]}

In [32]:
err_df=pd.DataFrame(err_dict)
err_df

            date  mipe  mxne  mipv    mxnv  original_val pprd_val nprd_val
0    2020-03-31   mxmb  memb    15      -4            47       32       51
1    2020-04-01   mxmb    lb    13      -1            53       40       54
2    2020-04-02   memb   mxb     2     -11            69       67       80
3    2020-04-03    mdb  memb    21      -2            83       62       85
4    2020-04-04   mxmb    lb    21      -4            96       75      100
..           ...   ...   ...   ...     ...           ...      ...      ...
176  2020-09-20   mxmb    lb  3349     -30         87325    83976    87355
177  2020-09-21   mxmb    lb  3221     -94         88381    85160    88475
178  2020-09-22     lb  memb    16    -146         89466    89450    89612
179  2020-09-23     lb  memb    25     -76         90589    90564    90665
180  2020-09-24     No   lmb    No  -88354             0       No    88354

[181 rows x 8 columns]

In [33]:
err_df.to_excel("tderr_df.xlsx")
errdf=pd.read_excel(r"C:\Users\Mark 1\tderr_df.xlsx")
errdf = errdf.loc[:, ~errdf.columns.str.contains('^Unnamed')]
errdf.to_excel("tderr_df.xlsx")

In [34]:
Counter(err_df['mipe'])

Counter({'mxmb': 75,
         'memb': 32,
         'mdb': 9,
         'lb': 45,
         'mxb': 17,
         'mb': 2,
         'No': 1})

In [35]:
mnval=max(list(Counter(err_df['mipe']).values()))
mnvalidx=list(Counter(err_df['mipe']).values()).index(mnval)
mnkys=list(Counter(err_df['mipe']).keys())[mnvalidx]
print("method: "+mnkys+" and values is: ",Counter(err_df['mipe'])[mnkys])

method: mxmb and values is:  75

In [36]:
Counter(err_df['mxne'])

Counter({'memb': 78, 'lb': 52, 'mxb': 33, 'No': 17, 'lmb': 1})

In [37]:
mxval=max(list(Counter(err_df['mxne']).values()))
mxvalidx=list(Counter(err_df['mxne']).values()).index(mxval)
mxkys=list(Counter(err_df['mxne']).keys())[mxvalidx]
print("method: "+mxkys+" and values is: ",Counter(err_df['mxne'])[mxkys])

method: memb and values is:  78

In [38]:
err_df['mipe'][len(err_df)-2]

'lb'

In [39]:
err_df['mxne'][len(err_df)-2]

'memb'