In [1]:
import pandas as pd
import numpy as np 
import copy
from matplotlib import pyplot as plt
import seaborn as sns
from collections import *
import datetime

In [2]:
data=pd.read_csv(r"C:\Users\Mark 1\Desktop\Lockdown\data\Covid-19\44\case_time_series.csv")
data.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30 January,1,1,0,0,0,0
1,31 January,0,1,0,0,0,0
2,01 February,0,1,0,0,0,0
3,02 February,1,2,0,0,0,0
4,03 February,1,3,0,0,0,0

In [3]:
data_daily=data[53:]
data_daily.reset_index(drop=True,inplace=True)
data_daily.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,23 March,94,497,2,25,2,9
1,24 March,74,571,15,40,1,10
2,25 March,86,657,3,43,1,11
3,26 March,73,730,7,50,5,16
4,27 March,153,883,25,75,3,19

In [4]:
data_daily.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
141,11 August,61252,2328419,56461,1638094,835,46200
142,12 August,67066,2395485,57759,1695853,950,47150
143,13 August,64141,2459626,54776,1750629,1006,48156
144,14 August,65610,2525236,56920,1807549,989,49145
145,15 August,63986,2589222,53116,1860665,951,50096

In [5]:
colls=list(data_daily.columns)
colls

['Date',
 'Daily Confirmed',
 'Total Confirmed',
 'Daily Recovered',
 'Total Recovered',
 'Daily Deceased',
 'Total Deceased']

In [6]:
data_daily.dtypes

Date               object
Daily Confirmed     int64
Total Confirmed     int64
Daily Recovered     int64
Total Recovered     int64
Daily Deceased      int64
Total Deceased      int64
dtype: object

In [7]:
data_daily[data_daily.duplicated()]

Empty DataFrame
Columns: [Date, Daily Confirmed, Total Confirmed, Daily Recovered, Total Recovered, Daily Deceased, Total Deceased]
Index: []

In [8]:
data_daily['Date'] = data_daily['Date'].astype('str')

<ipython-input-8-b893dc2657ae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily['Date'] = data_daily['Date'].astype('str')

In [9]:
for i in range(0,9):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" March")
for i in range(0,9):
    data_daily["Date"][i]="2020-03-"+data_daily["Date"][i]

<ipython-input-9-5d3a9c25c0f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" March")
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-9-5d3a9c25c0f3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-03-"+data_daily["Date"][i]

In [10]:
for i in range(9,39):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" April")
for i in range(9,39):
    data_daily["Date"][i]="2020-04-"+data_daily["Date"][i]

<ipython-input-10-e708bf0423ae>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" April")
<ipython-input-10-e708bf0423ae>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-04-"+data_daily["Date"][i]

In [11]:
for i in range(39,70):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" May")
for i in range(39,70):
    data_daily["Date"][i]="2020-05-"+data_daily["Date"][i]

<ipython-input-11-3a877ff4aac3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" May")
<ipython-input-11-3a877ff4aac3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-05-"+data_daily["Date"][i]

In [12]:
for i in range(70,100):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" June")
for i in range(70,100):
    data_daily["Date"][i]="2020-06-"+data_daily["Date"][i]

<ipython-input-12-7dad98128838>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" June")
<ipython-input-12-7dad98128838>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-06-"+data_daily["Date"][i]

In [13]:
for i in range(100,131):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" July")
for i in range(100,131):
    data_daily["Date"][i]="2020-07-"+data_daily["Date"][i]

<ipython-input-13-8446ec7a3871>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" July")
<ipython-input-13-8446ec7a3871>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-07-"+data_daily["Date"][i]

In [14]:

for i in range(131,len(data_daily)):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" August")
for i in range(131,len(data_daily)):
    data_daily["Date"][i]="2020-08-"+data_daily["Date"][i]

<ipython-input-14-ff896cedb1e9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" August")
<ipython-input-14-ff896cedb1e9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-08-"+data_daily["Date"][i]

In [15]:
data_daily["Date"]=data_daily["Date"].astype('datetime64[ns]')

<ipython-input-15-523dc667f175>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"]=data_daily["Date"].astype('datetime64[ns]')

In [16]:
data_daily.dtypes

Date               datetime64[ns]
Daily Confirmed             int64
Total Confirmed             int64
Daily Recovered             int64
Total Recovered             int64
Daily Deceased              int64
Total Deceased              int64
dtype: object

In [17]:
data_daily_ratio_with_two_precision=data_daily.copy()

In [18]:
new_cols=["Daily_Confirmed_Ratio","Total_Confirmed_Ratio","Daily_Recovered_Ratio","Total_Recovered_Ratio","Daily_Deceased_Ratio","Total_Deceased_Ratio"]
existing_cols=list(data_daily_ratio_with_two_precision.columns)
existing_cols.pop(0)
existing_cols
for i,j in zip(new_cols,existing_cols):
    data_daily_ratio_with_two_precision[i]=list(range(len(data_daily_ratio_with_two_precision)))
    data_daily_ratio_with_two_precision[i][0]=1
    tmp=[]
    tmp.append(data_daily_ratio_with_two_precision[i][0])
    for k in range(0,len(data_daily_ratio_with_two_precision)-1):
        tmp.append(round(data_daily_ratio_with_two_precision[j][k+1]/data_daily_ratio_with_two_precision[j][k],2))
    data_daily_ratio_with_two_precision[i]=tmp
data_daily_ratio_with_two_precision.head()

<ipython-input-18-f5761363647c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily_ratio_with_two_precision[i][0]=1

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Daily_Confirmed_Ratio,Total_Confirmed_Ratio,Daily_Recovered_Ratio,Total_Recovered_Ratio,Daily_Deceased_Ratio,Total_Deceased_Ratio
0,2020-03-23,94,497,2,25,2,9,1.00,1.00,1.00,1.00,1.0,1.00
1,2020-03-24,74,571,15,40,1,10,0.79,1.15,7.50,1.60,0.5,1.11
2,2020-03-25,86,657,3,43,1,11,1.16,1.15,0.20,1.08,1.0,1.10
3,2020-03-26,73,730,7,50,5,16,0.85,1.11,2.33,1.16,5.0,1.45
4,2020-03-27,153,883,25,75,3,19,2.10,1.21,3.57,1.50,0.6,1.19

In [19]:
data_daily_ratio=data_daily.copy()

In [20]:
new_cols=["Daily_Confirmed_Ratio","Total_Confirmed_Ratio","Daily_Recovered_Ratio","Total_Recovered_Ratio","Daily_Deceased_Ratio","Total_Deceased_Ratio"]
existing_cols=list(data_daily_ratio.columns)
existing_cols.pop(0)
existing_cols
for i,j in zip(new_cols,existing_cols):
    data_daily_ratio[i]=list(range(len(data_daily_ratio)))
    data_daily_ratio[i][0]=1
    tmp=[]
    tmp.append(data_daily_ratio[i][0])
    for k in range(0,len(data_daily_ratio)-1):
        tmp.append(data_daily_ratio[j][k+1]/data_daily_ratio[j][k])
    data_daily_ratio[i]=tmp
data_daily_ratio.head()

<ipython-input-20-d765217f50de>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily_ratio[i][0]=1

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Daily_Confirmed_Ratio,Total_Confirmed_Ratio,Daily_Recovered_Ratio,Total_Recovered_Ratio,Daily_Deceased_Ratio,Total_Deceased_Ratio
0,2020-03-23,94,497,2,25,2,9,1.000000,1.000000,1.000000,1.000000,1.0,1.000000
1,2020-03-24,74,571,15,40,1,10,0.787234,1.148893,7.500000,1.600000,0.5,1.111111
2,2020-03-25,86,657,3,43,1,11,1.162162,1.150613,0.200000,1.075000,1.0,1.100000
3,2020-03-26,73,730,7,50,5,16,0.848837,1.111111,2.333333,1.162791,5.0,1.454545
4,2020-03-27,153,883,25,75,3,19,2.095890,1.209589,3.571429,1.500000,0.6,1.187500

In [21]:
strt_cnt=1
end_cnt=8
strt_lst=[]
end_lst=[]
strt_lst.append(strt_cnt)
end_lst.append(end_cnt)
while(end_cnt<=len(data_daily_ratio)):
        strt_cnt+=1
        strt_lst.append(strt_cnt)
        end_cnt+=1
        end_lst.append(end_cnt)
if(end_lst[len(end_lst)-1]>=len(data_daily_ratio)):
    end_lst.pop(len(end_lst)-1)
strt_lst.pop(len(strt_lst)-1)
#print(strt_lst)
#print(end_lst)
#print(len(strt_lst)==len(end_lst))

for st,en in zip(strt_lst,end_lst):

    dcr=data_daily_ratio.iloc[st:en,9:10]
    dcr.reset_index(inplace = True, drop = True)
    dc=data_daily_ratio.iloc[st:en,3:4]
    dc.reset_index(inplace = True, drop = True)



    next_day_recovered_case_count_mean_based=dcr.mean()[0]*dc.mean()[0]

    next_day_recovered_case_count_max_based=max(dcr["Daily_Recovered_Ratio"])*max(dc["Daily Recovered"])


    next_day_recovered_case_count_mean_max_based=dcr.mean()[0]*max(dc["Daily Recovered"])


    next_day_recovered_case_count_max_mean_based=max(dcr["Daily_Recovered_Ratio"])*dc.mean()[0]


    next_day_recovered_case_count_mean_last_based=dcr.mean()[0]*dc["Daily Recovered"][len(dc)-1]


    next_day_recovered_case_count_last_mean_based=dcr["Daily_Recovered_Ratio"][len(dcr)-1]*dc.mean()[0]


    next_day_recovered_case_count_last_based=dcr["Daily_Recovered_Ratio"][len(dcr)-1]*dc["Daily Recovered"][len(dc)-1]


    next_day_recovered_case_count_middle_based=dcr["Daily_Recovered_Ratio"][3]*dc["Daily Recovered"][3]


    pred_val=[]
    pred_val.append(np.round(next_day_recovered_case_count_mean_based))
    pred_val.append(np.round(next_day_recovered_case_count_max_based))
    pred_val.append(np.round(next_day_recovered_case_count_mean_max_based))
    pred_val.append(np.round(next_day_recovered_case_count_max_mean_based))
    pred_val.append(np.round(next_day_recovered_case_count_mean_last_based))
    pred_val.append(np.round(next_day_recovered_case_count_last_mean_based))
    pred_val.append(np.round(next_day_recovered_case_count_last_based))
    pred_val.append(np.round(next_day_recovered_case_count_middle_based))

    if(en<len(data_daily_ratio)):
        pred_dict={"date":data_daily_ratio["Date"][en-1]+datetime.timedelta(hours=24),"original_val":data_daily_ratio["Daily Recovered"][en],"mean_based":pred_val[0],"max_based":pred_val[1],"mean_max_based":pred_val[2],"max_mean_based":pred_val[3],"mean_last_based":pred_val[4],"last_mean_based":pred_val[5],"last_based":pred_val[6],"middle_based":pred_val[7]}
    else:
        pred_dict={"date":data_daily_ratio["Date"][en-1]+datetime.timedelta(hours=24),"original_val":0,"mean_based":pred_val[0],"max_based":pred_val[1],"mean_max_based":pred_val[2],"max_mean_based":pred_val[3],"mean_last_based":pred_val[4],"last_mean_based":pred_val[5],"last_based":pred_val[6],"middle_based":pred_val[7]}
        
    
    pred_df=pd.DataFrame(pred_dict, index=[0])
    
    
    d=pd.read_excel(r"C:\Users\Mark 1\ramprd_df_strd.xlsx")
    d=pd.concat([d,pred_df])
    d.reset_index(drop=True,inplace=True)
    #d['original_val'][len(d)-2]=data_daily_ratio['Daily Recovered'][len(data_daily_ratio)-1]
    d.to_excel("ramprd_df_strd.xlsx")

In [22]:
dc=pd.read_excel(r"C:\Users\Mark 1\ramprd_df_strd.xlsx")
dc = dc.loc[:, ~dc.columns.str.contains('^Unnamed')]
dc.tail()

,date,original_val,mean_based,max_based,mean_max_based,max_mean_based,mean_last_based,last_mean_based,last_based,middle_based
134,2020-08-12,57759,51924,67308,57558,60720,57558,60720,67308,53944
135,2020-08-13,54776,54698,68855,59979,62794,59979,53885,59087,56918
136,2020-08-14,56920,54231,68855,58727,63583,55694,50582,51947,41179
137,2020-08-15,53116,55445,68855,59010,64696,58153,56394,59148,67308
138,2020-08-16,0,54799,68855,58172,64863,53496,50773,49566,59087

In [23]:
dce=dc.copy()

In [24]:
colls=list(dc.columns)
colls.pop(0)
colls.pop(0)
collss=["mb","mxb","memb","mxmb","mlb","lmb","lb","mdb"]
for i in collss:
    dce[i]=pd.Series(range(1,len(dce)+1))
colls

['mean_based',
 'max_based',
 'mean_max_based',
 'max_mean_based',
 'mean_last_based',
 'last_mean_based',
 'last_based',
 'middle_based']

In [25]:
for i,j in zip(colls,collss):
    for k in range(len(dce)):
        dce[j][k]=dce["original_val"][k]-dce[i][k]
dce

<ipython-input-25-e3d4143616d2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dce[j][k]=dce["original_val"][k]-dce[i][k]

,date,original_val,mean_based,max_based,mean_max_based,max_mean_based,mean_last_based,last_mean_based,last_based,middle_based,mb,mxb,memb,mxmb,mlb,lmb,lb,mdb
0,2020-03-31,13,41,262,89,120,89,33,72,89,-28,-249,-76,-107,-76,-20,-59,-76
1,2020-04-01,19,24,125,53,56,20,6,5,4,-5,-106,-34,-37,-1,13,14,15
2,2020-04-02,22,31,125,59,64,32,26,28,29,-9,-103,-37,-42,-10,-4,-6,-7
3,2020-04-03,39,31,125,54,72,34,23,25,72,8,-86,-15,-33,5,16,14,-33
4,2020-04-04,56,28,80,50,46,50,39,69,5,28,-24,6,10,6,17,-13,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,2020-08-12,57759,51924,67308,57558,60720,57558,60720,67308,53944,5835,-9549,201,-2961,201,-2961,-9549,3815
135,2020-08-13,54776,54698,68855,59979,62794,59979,53885,59087,56918,78,-14079,-5203,-8018,-5203,891,-4311,-2142
136,2020-08-14,56920,54231,68855,58727,63583,55694,50582,51947,41179,2689,-11935,-1807,-6663,1226,6338,4973,15741
137,2020-08-15,53116,55445,68855,59010,64696,58153,56394,59148,67308,-2329,-15739,-5894,-11580,-5037,-3278,-6032,-14192
138,2020-08-16,0,54799,68855,58172,64863,53496,50773,49566,59087,-54799,-68855,-58172,-64863,-53496,-50773,-49566,-59087

In [26]:
dce.to_excel("ramerrprd_df_strd.xlsx")
dce=pd.read_excel(r"C:\Users\Mark 1\ramerrprd_df_strd.xlsx")
dce = dce.loc[:, ~dce.columns.str.contains('^Unnamed')]
dce.to_excel("ramerrprd_df_strd.xlsx")

In [27]:
edf=dce.iloc[0:len(dce),10:]
edf

        mb    mxb   memb   mxmb    mlb    lmb     lb    mdb
0      -28   -249    -76   -107    -76    -20    -59    -76
1       -5   -106    -34    -37     -1     13     14     15
2       -9   -103    -37    -42    -10     -4     -6     -7
3        8    -86    -15    -33      5     16     14    -33
4       28    -24      6     10      6     17    -13     51
..     ...    ...    ...    ...    ...    ...    ...    ...
134   5835  -9549    201  -2961    201  -2961  -9549   3815
135     78 -14079  -5203  -8018  -5203    891  -4311  -2142
136   2689 -11935  -1807  -6663   1226   6338   4973  15741
137  -2329 -15739  -5894 -11580  -5037  -3278  -6032 -14192
138 -54799 -68855 -58172 -64863 -53496 -50773 -49566 -59087

[139 rows x 8 columns]

In [28]:

"""
for j,k in zip(range(len(edf)),range(len(dce)-1)):
    
    a=list(edf.loc[j])
    pos=[]
    neg=[]
    for i in a:
        if(i>=0):
            pos.append(i)
        else:
            neg.append(i)
    if(len(pos)):
        ps=min(pos)
        psi=a.index(ps)
        psc=list(edf.columns)[psi]
    if(len(neg)):
        ng=max(neg)
        ngi=a.index(ng)
        ngc=list(edf.columns)[ngi]
    
    
    print("for date: "+str(dce["date"][k]).strip("00:00:00")+" the lowest positve error was by the method: "+ psc +" and the highest negative error by the method: "+ngc)
    """

'\nfor j,k in zip(range(len(edf)),range(len(dce)-1)):\n    \n    a=list(edf.loc[j])\n    pos=[]\n    neg=[]\n    for i in a:\n        if(i>=0):\n            pos.append(i)\n        else:\n            neg.append(i)\n    if(len(pos)):\n        ps=min(pos)\n        psi=a.index(ps)\n        psc=list(edf.columns)[psi]\n    if(len(neg)):\n        ng=max(neg)\n        ngi=a.index(ng)\n        ngc=list(edf.columns)[ngi]\n    \n    \n    print("for date: "+str(dce["date"][k]).strip("00:00:00")+" the lowest positve error was by the method: "+ psc +" and the highest negative error by the method: "+ngc)\n    '

In [29]:
err_dict={"date":[],"mipe":[],"mxne":[],"mipv":[],"mxnv":[],"original_val":[],"pprd_val":[],"nprd_val":[]}
psc=[]
ngc=[]
date=[]
ps=[]
ng=[]
org_val=[]
pprd_val=[]
nprd_val=[]
for j,k in zip(range(len(edf)),range(len(dce))):
    
    a=list(edf.loc[j])
    pos=[]
    neg=[]
    for i in a:
        if(i>=0):
            pos.append(i)
        else:
            neg.append(i)
    if(len(pos)):
        aa=min(pos)
    
        psi=a.index(aa)
    
        ps.append(aa)
    
        psc.append(list(edf.columns)[psi])
    
    
        pprd_val.append(dce["original_val"][k]-aa)
    else:
        ps.append("No")
    
        psc.append("No")
    
    
        pprd_val.append("No")
        
    
    if(len(neg)):
        bb=max(neg)
        ngi=a.index(bb)
        ng.append(bb)
        ngc.append(list(edf.columns)[ngi])
        nprd_val.append(dce["original_val"][k]-bb)
    else:
        ng.append("No")
    
        ngc.append("No")
    
    
        nprd_val.append("No")
    
    date.append(str(dce["date"][k]).strip("00:00:00"))
    org_val.append(dce["original_val"][k])
err_dict.update({"date":date})
err_dict.update({"mipe":psc})
err_dict.update({"mxne":ngc})
err_dict.update({"mipv":ps})
err_dict.update({"mxnv":ng})
err_dict.update({"original_val":org_val})
err_dict.update({"pprd_val":pprd_val})
err_dict.update({"nprd_val":nprd_val})

In [30]:
err_dict

{'date': ['2020-03-31 ',
  '2020-04-01 ',
  '2020-04-02 ',
  '2020-04-03 ',
  '2020-04-04 ',
  '2020-04-05 ',
  '2020-04-06 ',
  '2020-04-07 ',
  '2020-04-08 ',
  '2020-04-09 ',
  '2020-04-10 ',
  '2020-04-11 ',
  '2020-04-12 ',
  '2020-04-13 ',
  '2020-04-14 ',
  '2020-04-15 ',
  '2020-04-16 ',
  '2020-04-17 ',
  '2020-04-18 ',
  '2020-04-19 ',
  '2020-04-20 ',
  '2020-04-21 ',
  '2020-04-22 ',
  '2020-04-23 ',
  '2020-04-24 ',
  '2020-04-25 ',
  '2020-04-26 ',
  '2020-04-27 ',
  '2020-04-28 ',
  '2020-04-29 ',
  '2020-04-30 ',
  '2020-05-01 ',
  '2020-05-02 ',
  '2020-05-03 ',
  '2020-05-04 ',
  '2020-05-05 ',
  '2020-05-06 ',
  '2020-05-07 ',
  '2020-05-08 ',
  '2020-05-09 ',
  '2020-05-10 ',
  '2020-05-11 ',
  '2020-05-12 ',
  '2020-05-13 ',
  '2020-05-14 ',
  '2020-05-15 ',
  '2020-05-16 ',
  '2020-05-17 ',
  '2020-05-18 ',
  '2020-05-19 ',
  '2020-05-20 ',
  '2020-05-21 ',
  '2020-05-22 ',
  '2020-05-23 ',
  '2020-05-24 ',
  '2020-05-25 ',
  '2020-05-26 ',
  '2020-05-27 ',
  '2020-05-28 ',
  '2020-05-29 ',
  '2020-05-30 ',
  '2020-05-31 ',
  '2020-06-01 ',
  '2020-06-02 ',
  '2020-06-03 ',
  '2020-06-04 ',
  '2020-06-05 ',
  '2020-06-06 ',
  '2020-06-07 ',
  '2020-06-08 ',
  '2020-06-09 ',
  '2020-06-10 ',
  '2020-06-11 ',
  '2020-06-12 ',
  '2020-06-13 ',
  '2020-06-14 ',
  '2020-06-15 ',
  '2020-06-16 ',
  '2020-06-17 ',
  '2020-06-18 ',
  '2020-06-19 ',
  '2020-06-20 ',
  '2020-06-21 ',
  '2020-06-22 ',
  '2020-06-23 ',
  '2020-06-24 ',
  '2020-06-25 ',
  '2020-06-26 ',
  '2020-06-27 ',
  '2020-06-28 ',
  '2020-06-29 ',
  '2020-06-30 ',
  '2020-07-01 ',
  '2020-07-02 ',
  '2020-07-03 ',
  '2020-07-04 ',
  '2020-07-05 ',
  '2020-07-06 ',
  '2020-07-07 ',
  '2020-07-08 ',
  '2020-07-09 ',
  '2020-07-10 ',
  '2020-07-11 ',
  '2020-07-12 ',
  '2020-07-13 ',
  '2020-07-14 ',
  '2020-07-15 ',
  '2020-07-16 ',
  '2020-07-17 ',
  '2020-07-18 ',
  '2020-07-19 ',
  '2020-07-20 ',
  '2020-07-21 ',
  '2020-07-22 ',
  '2020-07-23 ',
  '2020-07-24 ',
  '2020-07-25 ',
  '2020-07-26 ',
  '2020-07-27 ',
  '2020-07-28 ',
  '2020-07-29 ',
  '2020-07-30 ',
  '2020-07-31 ',
  '2020-08-01 ',
  '2020-08-02 ',
  '2020-08-03 ',
  '2020-08-04 ',
  '2020-08-05 ',
  '2020-08-06 ',
  '2020-08-07 ',
  '2020-08-08 ',
  '2020-08-09 ',
  '2020-08-10 ',
  '2020-08-11 ',
  '2020-08-12 ',
  '2020-08-13 ',
  '2020-08-14 ',
  '2020-08-15 ',
  '2020-08-16 '],
 'mipe': ['No',
  'lmb',
  'No',
  'mlb',
  'memb',
  'mb',
  'mlb',
  'mdb',
  'lb',
  'mdb',
  'memb',
  'mxmb',
  'No',
  'lb',
  'mb',
  'No',
  'memb',
  'mb',
  'mxmb',
  'mxmb',
  'lb',
  'memb',
  'No',
  'mb',
  'mdb',
  'lmb',
  'mb',
  'No',
  'mb',
  'memb',
  'lmb',
  'mxb',
  'mb',
  'mb',
  'memb',
  'lb',
  'lmb',
  'memb',
  'No',
  'mb',
  'memb',
  'lmb',
  'memb',
  'mxmb',
  'No',
  'mxmb',
  'mxb',
  'mdb',
  'lb',
  'mlb',
  'mb',
  'mb',
  'lb',
  'No',
  'mdb',
  'No',
  'mdb',
  'mb',
  'lmb',
  'mxb',
  'mdb',
  'mdb',
  'mdb',
  'lmb',
  'mdb',
  'lmb',
  'mdb',
  'mdb',
  'lmb',
  'mdb',
  'mxmb',
  'mdb',
  'lmb',
  'mxb',
  'memb',
  'mdb',
  'mxb',
  'No',
  'lmb',
  'mb',
  'No',
  'mxmb',
  'mdb',
  'mb',
  'mb',
  'mlb',
  'lmb',
  'No',
  'mb',
  'No',
  'mb',
  'mdb',
  'lmb',
  'mxb',
  'No',
  'mdb',
  'mlb',
  'No',
  'mlb',
  'lb',
  'lmb',
  'memb',
  'mdb',
  'lmb',
  'lmb',
  'memb',
  'mb',
  'memb',
  'mdb',
  'mxmb',
  'mb',
  'mlb',
  'lb',
  'mdb',
  'mxmb',
  'mb',
  'memb',
  'No',
  'mlb',
  'lmb',
  'No',
  'mb',
  'mb',
  'mxb',
  'mb',
  'mdb',
  'lb',
  'mb',
  'mlb',
  'lmb',
  'lb',
  'lb',
  'No',
  'memb',
  'memb',
  'mb',
  'mlb',
  'No',
  'No'],
 'mxne': ['lmb',
  'mlb',
  'lmb',
  'memb',
  'lb',
  'mxmb',
  'mxmb',
  'memb',
  'memb',
  'lmb',
  'mxb',
  'memb',
  'lmb',
  'mb',
  'memb',
  'mb',
  'mxmb',
  'lmb',
  'mxb',
  'memb',
  'mxmb',
  'mxb',
  'mb',
  'mxmb',
  'mb',
  'mlb',
  'memb',
  'mb',
  'mlb',
  'lb',
  'mb',
  'No',
  'mxmb',
  'mlb',
  'mxmb',
  'mdb',
  'mxmb',
  'mxmb',
  'mb',
  'mxmb',
  'lb',
  'mxmb',
  'mxb',
  'memb',
  'lmb',
  'mxb',
  'No',
  'mb',
  'mb',
  'mdb',
  'lmb',
  'lb',
  'mb',
  'lmb',
  'mxmb',
  'mb',
  'mxmb',
  'memb',
  'mb',
  'No',
  'mb',
  'mlb',
  'lmb',
  'mlb',
  'lb',
  'mlb',
  'lb',
  'mxb',
  'mxmb',
  'mlb',
  'memb',
  'mxb',
  'mxmb',
  'No',
  'mxb',
  'mxmb',
  'No',
  'mb',
  'mlb',
  'memb',
  'mb',
  'mxb',
  'mb',
  'mxmb',
  'mlb',
  'memb',
  'mlb',
  'lmb',
  'memb',
  'mb',
  'mdb',
  'mb',
  'mlb',
  'No',
  'mb',
  'mb',
  'memb',
  'lmb',
  'memb',
  'memb',
  'mlb',
  'mxb',
  'mxmb',
  'mb',
  'mlb',
  'mdb',
  'memb',
  'mxmb',
  'mb',
  'mdb',
  'memb',
  'memb',
  'mxmb',
  'mxb',
  'memb',
  'lb',
  'mxmb',
  'mb',
  'mdb',
  'mlb',
  'lmb',
  'memb',
  'mdb',
  'No',
  'mxmb',
  'mxmb',
  'memb',
  'lmb',
  'memb',
  'mlb',
  'mlb',
  'mxmb',
  'lmb',
  'mxmb',
  'mxmb',
  'mdb',
  'memb',
  'mb',
  'lb'],
 'mipv': ['No',
  13,
  'No',
  5,
  6,
  2,
  10,
  6,
  9,
  37,
  32,
  15,
  'No',
  42,
  33,
  'No',
  44,
  62,
  105,
  6,
  66,
  170,
  'No',
  138,
  32,
  70,
  52,
  'No',
  22,
  23,
  1,
  49,
  106,
  129,
  41,
  10,
  67,
  54,
  'No',
  248,
  52,
  27,
  113,
  88,
  'No',
  191,
  881,
  515,
  876,
  246,
  245,
  79,
  131,
  'No',
  89,
  'No',
  149,
  183,
  119,
  7163,
  36,
  1639,
  954,
  588,
  2211,
  49,
  1712,
  144,
  29,
  85,
  86,
  87,
  179,
  116,
  353,
  369,
  915,
  'No',
  1757,
  2805,
  'No',
  617,
  2505,
  294,
  182,
  1565,
  176,
  'No',
  1873,
  'No',
  701,
  5057,
  196,
  239,
  'No',
  3049,
  513,
  'No',
  791,
  1000,
  99,
  676,
  1473,
  307,
  829,
  208,
  510,
  1656,
  293,
  225,
  1734,
  510,
  1604,
  51,
  472,
  4891,
  494,
  'No',
  1169,
  128,
  'No',
  3209,
  1291,
  8636,
  1020,
  480,
  5252,
  852,
  1614,
  370,
  1501,
  530,
  'No',
  951,
  201,
  78,
  1226,
  'No',
  'No'],
 'mxnv': [-20,
  -1,
  -4,
  -15,
  -13,
  -16,
  -2,
  -4,
  -3,
  -2,
  -19,
  -9,
  -7,
  -22,
  -49,
  -11,
  -33,
  -17,
  -63,
  -121,
  -34,
  -60,
  -82,
  -90,
  -77,
  -123,
  -171,
  -14,
  -14,
  -7,
  -16,
  'No',
  -156,
  -15,
  -61,
  -174,
  -235,
  -24,
  -155,
  -14,
  -131,
  -95,
  -219,
  -85,
  -42,
  -264,
  'No',
  -18,
  -45,
  -99,
  -3,
  -65,
  -100,
  -655,
  -232,
  -119,
  -319,
  -278,
  -97,
  'No',
  -1825,
  -808,
  -1708,
  -500,
  -1500,
  -442,
  -316,
  -319,
  -99,
  -117,
  -62,
  -253,
  -58,
  'No',
  -636,
  -139,
  'No',
  -980,
  -777,
  -304,
  -311,
  -2770,
  -1590,
  -4170,
  -1082,
  -2304,
  -991,
  -2038,
  -572,
  -497,
  -1441,
  -560,
  -1129,
  'No',
  -291,
  -589,
  -4942,
  -498,
  -4116,
  -1925,
  -2052,
  -2315,
  -202,
  -810,
  -935,
  -233,
  -1088,
  -381,
  -3163,
  -1302,
  -1777,
  -383,
  -1826,
  -5355,
  -1030,
  -2329,
  -644,
  -491,
  -489,
  -597,
  -2190,
  -30,
  -898,
  'No',
  -11797,
  -10857,
  -2593,
  -4174,
  -4544,
  -2720,
  -1435,
  -2081,
  -4435,
  -3222,
  -2961,
  -2142,
  -1807,
  -2329,
  -49566],
 'original_val': [13,
  19,
  22,
  39,
  56,
  43,
  65,
  75,
  96,
  70,
  151,
  186,
  114,
  112,
  167,
  144,
  258,
  273,
  426,
  388,
  419,
  703,
  394,
  642,
  484,
  442,
  585,
  580,
  636,
  690,
  630,
  962,
  831,
  911,
  1082,
  1295,
  1161,
  1475,
  1111,
  1414,
  1669,
  1579,
  1905,
  1963,
  1594,
  2234,
  4012,
  2538,
  2482,
  3032,
  3113,
  3131,
  3280,
  2576,
  3285,
  3012,
  3585,
  3434,
  3171,
  11735,
  4303,
  4928,
  3882,
  4531,
  3789,
  4390,
  4770,
  5433,
  5191,
  5171,
  5634,
  6275,
  6044,
  7263,
  8092,
  7358,
  10639,
  7226,
  6890,
  10741,
  9029,
  13974,
  9075,
  10879,
  10462,
  13089,
  13983,
  10246,
  14229,
  11631,
  13497,
  12565,
  12064,
  19999,
  14417,
  14746,
  15829,
  15315,
  16836,
  19508,
  19408,
  20289,
  19981,
  18198,
  17683,
  20977,
  20646,
  22867,
  17476,
  23583,
  22730,
  24303,
  27589,
  31875,
  33326,
  32514,
  37125,
  31512,
  34354,
  35683,
  32886,
  37425,
  36554,
  51368,
  40355,
  43070,
  51220,
  45583,
  50141,
  50387,
  52135,
  54474,
  47362,
  56461,
  57759,
  54776,
  56920,
  53116,
  0],
 'pprd_val': ['No',
  6,
  'No',
  34,
  50,
  41,
  55,
  69,
  87,
  33,
  119,
  171,
  'No',
  70,
  134,
  'No',
  214,
  211,
  321,
  382,
  353,
  533,
  'No',
  504,
  452,
  372,
  533,
  'No',
  614,
  667,
  629,
  913,
  725,
  782,
  1041,
  1285,
  1094,
  1421,
  'No',
  1166,
  1617,
  1552,
  1792,
  1875,
  'No',
  2043,
  3131,
  2023,
  1606,
  2786,
  2868,
  3052,
  3149,
  'No',
  3196,
  'No',
  3436,
  3251,
  3052,
  4572,
  4267,
  3289,
  2928,
  3943,
  1578,
  4341,
  3058,
  5289,
  5162,
  5086,
  5548,
  6188,
  5865,
  7147,
  7739,
  6989,
  9724,
  'No',
  5133,
  7936,
  'No',
  13357,
  6570,
  10585,
  10280,
  11524,
  13807,
  'No',
  12356,
  'No',
  12796,
  7508,
  11868,
  19760,
  'No',
  11697,
  15316,
  'No',
  16045,
  18508,
  19309,
  19613,
  18508,
  17891,
  16854,
  20769,
  20136,
  21211,
  17183,
  23358,
  20996,
  23793,
  25985,
  31824,
  32854,
  27623,
  36631,
  'No',
  33185,
  35555,
  'No',
  34216,
  35263,
  42732,
  39335,
  42590,
  45968,
  44731,
  48527,
  50017,
  50634,
  53944,
  'No',
  55510,
  57558,
  54698,
  55694,
  'No',
  'No'],
 'nprd_val': [33,
  20,
  26,
  54,
  69,
  59,
  67,
  79,
  99,
  72,
  170,
  195,
  121,
  134,
  216,
  155,
  291,
  290,
  489,
  509,
  453,
  763,
  476,
  732,
  561,
  565,
  756,
  594,
  650,
  697,
  646,
  'No',
  987,
  926,
  1143,
  1469,
  1396,
  1499,
  1266,
  1428,
  1800,
  1674,
  2124,
  2048,
  1636,
  2498,
  'No',
  2556,
  2527,
  3131,
  3116,
  3196,
  3380,
  3231,
  3517,
  3131,
  3904,
  3712,
  3268,
  'No',
  6128,
  5736,
  5590,
  5031,
  5289,
  4832,
  5086,
  5752,
  5290,
  5288,
  5696,
  6528,
  6102,
  'No',
  8728,
  7497,
  'No',
  8206,
  7667,
  11045,
  9340,
  16744,
  10665,
  15049,
  11544,
  15393,
  14974,
  12284,
  14801,
  12128,
  14938,
  13125,
  13193,
  'No',
  14708,
  15335,
  20771,
  15813,
  20952,
  21433,
  21460,
  22604,
  20183,
  19008,
  18618,
  21210,
  21734,
  23248,
  20639,
  24885,
  24507,
  24686,
  29415,
  37230,
  34356,
  34843,
  37769,
  32003,
  34843,
  36280,
  35076,
  37455,
  37452,
  'No',
  52152,
  53927,
  53813,
  49757,
  54685,
  53107,
  53570,
  56555,
  51797,
  59683,
  60720,
  56918,
  58727,
  55445,
  49566]}

In [31]:
err_df=pd.DataFrame(err_dict)
err_df

            date  mipe  mxne  mipv    mxnv  original_val pprd_val nprd_val
0    2020-03-31     No   lmb    No     -20            13       No       33
1    2020-04-01    lmb   mlb    13      -1            19        6       20
2    2020-04-02     No   lmb    No      -4            22       No       26
3    2020-04-03    mlb  memb     5     -15            39       34       54
4    2020-04-04   memb    lb     6     -13            56       50       69
..           ...   ...   ...   ...     ...           ...      ...      ...
134  2020-08-12   memb  mxmb   201   -2961         57759    57558    60720
135  2020-08-13     mb   mdb    78   -2142         54776    54698    56918
136  2020-08-14    mlb  memb  1226   -1807         56920    55694    58727
137  2020-08-15     No    mb    No   -2329         53116       No    55445
138  2020-08-16     No    lb    No  -49566             0       No    49566

[139 rows x 8 columns]

In [32]:
err_df.to_excel("edrrr_df.xlsx")
errdf=pd.read_excel(r"C:\Users\Mark 1\edrrr_df.xlsx")
errdf = errdf.loc[:, ~errdf.columns.str.contains('^Unnamed')]
errdf.to_excel("edrrr_df.xlsx")