In [1]:
import pandas as pd
import numpy as np 
import copy
from matplotlib import pyplot as plt
import seaborn as sns
from collections import *
import datetime

In [2]:
data=pd.read_csv(r"C:\Users\Mark 1\Desktop\Lockdown\data\Covid-19\97\case_time_series.csv")
data.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30 January,1,1,0,0,0,0
1,31 January,0,1,0,0,0,0
2,01 February,0,1,0,0,0,0
3,02 February,1,2,0,0,0,0
4,03 February,1,3,0,0,0,0

In [3]:
data_total=data[53:]
data_total.reset_index(drop=True,inplace=True)
data_total.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,23 March,94,497,2,25,2,9
1,24 March,74,571,15,40,1,10
2,25 March,86,657,3,43,1,11
3,26 March,73,730,7,50,5,16
4,27 March,153,883,25,75,3,19

In [4]:
data_total.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
194,03 October,75479,6547422,81655,5506718,937,101226
195,04 October,74770,6622192,76713,5583431,903,102129
196,05 October,60130,6682322,75855,5659286,886,103015
197,06 October,71869,6754191,81945,5741231,990,104005
198,07 October,78467,6832658,80170,5821401,960,104965

In [5]:
colls=list(data_total.columns)
colls

['Date',
 'Daily Confirmed',
 'Total Confirmed',
 'Daily Recovered',
 'Total Recovered',
 'Daily Deceased',
 'Total Deceased']

In [6]:
data_total.dtypes

Date               object
Daily Confirmed     int64
Total Confirmed     int64
Daily Recovered     int64
Total Recovered     int64
Daily Deceased      int64
Total Deceased      int64
dtype: object

In [7]:
data_total[data_total.duplicated()]

Empty DataFrame
Columns: [Date, Daily Confirmed, Total Confirmed, Daily Recovered, Total Recovered, Daily Deceased, Total Deceased]
Index: []

In [8]:
data_total['Date'] = data_total['Date'].astype('str')

<ipython-input-8-99f82638761e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total['Date'] = data_total['Date'].astype('str')

In [9]:
for i in range(0,9):
    data_total["Date"][i]=data_total["Date"][i].strip(" March")
for i in range(0,9):
    data_total["Date"][i]="2020-03-"+data_total["Date"][i]

<ipython-input-9-d239740191b3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" March")
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-9-d239740191b3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-03-"+data_total["Date"][i]

In [10]:
for i in range(9,39):
    data_total["Date"][i]=data_total["Date"][i].strip(" April")
for i in range(9,39):
    data_total["Date"][i]="2020-04-"+data_total["Date"][i]

<ipython-input-10-aa71c839161c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" April")
<ipython-input-10-aa71c839161c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-04-"+data_total["Date"][i]

In [11]:
for i in range(39,70):
    data_total["Date"][i]=data_total["Date"][i].strip(" May")
for i in range(39,70):
    data_total["Date"][i]="2020-05-"+data_total["Date"][i]

<ipython-input-11-53c499d84780>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" May")
<ipython-input-11-53c499d84780>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-05-"+data_total["Date"][i]

In [12]:
for i in range(70,100):
    data_total["Date"][i]=data_total["Date"][i].strip(" June")
for i in range(70,100):
    data_total["Date"][i]="2020-06-"+data_total["Date"][i]

<ipython-input-12-1a0a85fafe5b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" June")
<ipython-input-12-1a0a85fafe5b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-06-"+data_total["Date"][i]

In [13]:
for i in range(100,131):
    data_total["Date"][i]=data_total["Date"][i].strip(" July")
for i in range(100,131):
    data_total["Date"][i]="2020-07-"+data_total["Date"][i]

<ipython-input-13-208466873f51>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" July")
<ipython-input-13-208466873f51>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-07-"+data_total["Date"][i]

In [14]:

for i in range(131,162):
    data_total["Date"][i]=data_total["Date"][i].strip(" August")
for i in range(131,162):
    data_total["Date"][i]="2020-08-"+data_total["Date"][i]

<ipython-input-14-16f669050c92>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" August")
<ipython-input-14-16f669050c92>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-08-"+data_total["Date"][i]

In [15]:

for i in range(162,192):
    data_total["Date"][i]=data_total["Date"][i].strip(" September")
for i in range(162,192):
    data_total["Date"][i]="2020-09-"+data_total["Date"][i]

<ipython-input-15-2668c5c83263>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" September")
<ipython-input-15-2668c5c83263>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-09-"+data_total["Date"][i]

In [16]:

for i in range(192,len(data_total)):
    data_total["Date"][i]=data_total["Date"][i].strip(" October")
for i in range(192,len(data_total)):
    data_total["Date"][i]="2020-10-"+data_total["Date"][i]

<ipython-input-16-e530b2cfaa41>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]=data_total["Date"][i].strip(" October")
<ipython-input-16-e530b2cfaa41>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"][i]="2020-10-"+data_total["Date"][i]

In [17]:
data_total["Date"]=data_total["Date"].astype('datetime64[ns]')

<ipython-input-17-a317546e137f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total["Date"]=data_total["Date"].astype('datetime64[ns]')

In [18]:
data_total.dtypes

Date               datetime64[ns]
Daily Confirmed             int64
Total Confirmed             int64
Daily Recovered             int64
Total Recovered             int64
Daily Deceased              int64
Total Deceased              int64
dtype: object

In [19]:
data_total_ratio_with_two_precision=data_total.copy()

In [20]:
new_cols=["Daily_Confirmed_Ratio","Total_Confirmed_Ratio","Daily_Recovered_Ratio","Total_Recovered_Ratio","Daily_Deceased_Ratio","Total_Deceased_Ratio"]
existing_cols=list(data_total_ratio_with_two_precision.columns)
existing_cols.pop(0)
existing_cols
for i,j in zip(new_cols,existing_cols):
    data_total_ratio_with_two_precision[i]=list(range(len(data_total_ratio_with_two_precision)))
    data_total_ratio_with_two_precision[i][0]=1
    tmp=[]
    tmp.append(data_total_ratio_with_two_precision[i][0])
    for k in range(0,len(data_total_ratio_with_two_precision)-1):
        tmp.append(round(data_total_ratio_with_two_precision[j][k+1]/data_total_ratio_with_two_precision[j][k],2))
    data_total_ratio_with_two_precision[i]=tmp
data_total_ratio_with_two_precision.head()

<ipython-input-20-c038b6b9f526>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total_ratio_with_two_precision[i][0]=1

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Daily_Confirmed_Ratio,Total_Confirmed_Ratio,Daily_Recovered_Ratio,Total_Recovered_Ratio,Daily_Deceased_Ratio,Total_Deceased_Ratio
0,2020-03-23,94,497,2,25,2,9,1.00,1.00,1.00,1.00,1.0,1.00
1,2020-03-24,74,571,15,40,1,10,0.79,1.15,7.50,1.60,0.5,1.11
2,2020-03-25,86,657,3,43,1,11,1.16,1.15,0.20,1.08,1.0,1.10
3,2020-03-26,73,730,7,50,5,16,0.85,1.11,2.33,1.16,5.0,1.45
4,2020-03-27,153,883,25,75,3,19,2.10,1.21,3.57,1.50,0.6,1.19

In [21]:
data_total_ratio=data_total.copy()

In [22]:
new_cols=["Daily_Confirmed_Ratio","Total_Confirmed_Ratio","Daily_Recovered_Ratio","Total_Recovered_Ratio","Daily_Deceased_Ratio","Total_Deceased_Ratio"]
existing_cols=list(data_total_ratio.columns)
existing_cols.pop(0)
existing_cols
for i,j in zip(new_cols,existing_cols):
    data_total_ratio[i]=list(range(len(data_total_ratio)))
    data_total_ratio[i][0]=1
    tmp=[]
    tmp.append(data_total_ratio[i][0])
    for k in range(0,len(data_total_ratio)-1):
        tmp.append(data_total_ratio[j][k+1]/data_total_ratio[j][k])
    data_total_ratio[i]=tmp
data_total_ratio.head()

<ipython-input-22-6e1737506d3a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total_ratio[i][0]=1

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Daily_Confirmed_Ratio,Total_Confirmed_Ratio,Daily_Recovered_Ratio,Total_Recovered_Ratio,Daily_Deceased_Ratio,Total_Deceased_Ratio
0,2020-03-23,94,497,2,25,2,9,1.000000,1.000000,1.000000,1.000000,1.0,1.000000
1,2020-03-24,74,571,15,40,1,10,0.787234,1.148893,7.500000,1.600000,0.5,1.111111
2,2020-03-25,86,657,3,43,1,11,1.162162,1.150613,0.200000,1.075000,1.0,1.100000
3,2020-03-26,73,730,7,50,5,16,0.848837,1.111111,2.333333,1.162791,5.0,1.454545
4,2020-03-27,153,883,25,75,3,19,2.095890,1.209589,3.571429,1.500000,0.6,1.187500

In [23]:
strt_cnt=1
end_cnt=8
strt_lst=[]
end_lst=[]
strt_lst.append(strt_cnt)
end_lst.append(end_cnt)
while(end_cnt<=len(data_total_ratio)):
        strt_cnt+=1
        strt_lst.append(strt_cnt)
        end_cnt+=1
        end_lst.append(end_cnt)
if(end_lst[len(end_lst)-1]>=len(data_total_ratio)):
    end_lst.pop(len(end_lst)-1)
strt_lst.pop(len(strt_lst)-1)
#print(strt_lst)
#print(end_lst)
#print(len(strt_lst)==len(end_lst))

for st,en in zip(strt_lst,end_lst):

    tcr=data_total_ratio.iloc[st:en,8:9]
    tcr.reset_index(inplace = True, drop = True)
    tc=data_total_ratio.iloc[st:en,2:3]
    tc.reset_index(inplace = True, drop = True)



    next_day_tconfirmed_case_count_mean_based=tcr.mean()[0]*tc.mean()[0]

    next_day_tconfirmed_case_count_max_based=max(tcr["Total_Confirmed_Ratio"])*max(tc["Total Confirmed"])


    next_day_tconfirmed_case_count_mean_max_based=tcr.mean()[0]*max(tc["Total Confirmed"])


    next_day_tconfirmed_case_count_max_mean_based=max(tcr["Total_Confirmed_Ratio"])*tc.mean()[0]


    next_day_tconfirmed_case_count_mean_last_based=tcr.mean()[0]*tc["Total Confirmed"][len(tc)-1]


    next_day_tconfirmed_case_count_last_mean_based=tcr["Total_Confirmed_Ratio"][len(tcr)-1]*tc.mean()[0]


    next_day_tconfirmed_case_count_last_based=tcr["Total_Confirmed_Ratio"][len(tcr)-1]*tc["Total Confirmed"][len(tc)-1]


    next_day_tconfirmed_case_count_middle_based=tcr["Total_Confirmed_Ratio"][3]*tc["Total Confirmed"][3]


    pred_val=[]
    pred_val.append(np.round(next_day_tconfirmed_case_count_mean_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_max_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_mean_max_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_max_mean_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_mean_last_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_last_mean_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_last_based))
    pred_val.append(np.round(next_day_tconfirmed_case_count_middle_based))


    
    if(en<len(data_total_ratio)):
        pred_dict={"date":data_total_ratio["Date"][en-1]+datetime.timedelta(hours=24),"original_val":data_total_ratio["Total Confirmed"][en],"mean_based":pred_val[0],"max_based":pred_val[1],"mean_max_based":pred_val[2],"max_mean_based":pred_val[3],"mean_last_based":pred_val[4],"last_mean_based":pred_val[5],"last_based":pred_val[6],"middle_based":pred_val[7]}
    else:
        pred_dict={"date":data_total_ratio["Date"][en-1]+datetime.timedelta(hours=24),"original_val":0,"mean_based":pred_val[0],"max_based":pred_val[1],"mean_max_based":pred_val[2],"max_mean_based":pred_val[3],"mean_last_based":pred_val[4],"last_mean_based":pred_val[5],"last_based":pred_val[6],"middle_based":pred_val[7]}
        
        
        
    
    
    pred_df=pd.DataFrame(pred_dict, index=[0])
    
    
    
d=pd.read_excel(r"C:\Users\Mark 1\tamprd_df_strd.xlsx")
d=pd.concat([d,pred_df])
d.reset_index(drop=True,inplace=True)
d['original_val'][len(d)-2]=data_total_ratio['Total Confirmed'][len(data_total_ratio)-1]
d.to_excel("tamprd_df_strd.xlsx")

<ipython-input-23-cbd5628b17e2>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['original_val'][len(d)-2]=data_total_ratio['Total Confirmed'][len(data_total_ratio)-1]

In [24]:
tc=pd.read_excel(r"C:\Users\Mark 1\tamprd_df_strd.xlsx")
tc = tc.loc[:, ~tc.columns.str.contains('^Unnamed')]
tc

,date,original_val,mean_based,max_based,mean_max_based,max_mean_based,mean_last_based,last_mean_based,last_based,middle_based
0,2020-03-31,1635,1040,1604,1526,1093,1526,1052,1544,1068
1,2020-04-01,2059,1228,2016,1901,1302,1901,1302,2016,1176
2,2020-04-02,2545,1480,2593,2426,1582,2426,1582,2593,1273
3,2020-04-03,3105,1813,3205,3045,1908,3045,1873,3146,1544
4,2020-04-04,3684,2195,3910,3719,2308,3719,2236,3788,2016
...,...,...,...,...,...,...,...,...,...,...
195,2020-10-04,6622192,6389421,6638685,6631090,6396739,6631090,6382379,6623781,6398233
196,2020-10-05,6682322,6466640,6714497,6704548,6476236,6704548,6460147,6697816,6474904
197,2020-10-06,6754191,6542432,6775465,6763143,6554352,6763143,6522945,6742998,6552824
198,2020-10-07,6832658,6616963,6848336,6833614,6631218,6833614,6610397,6826833,6623781
199,2020-10-08,0,6690273,6921212,6910738,6700413,6910738,6691530,6912037,6697816

In [25]:
tc.to_excel("tamprd_df_strd.xlsx")

In [26]:
tce=tc.copy()

In [27]:
colls=list(tc.columns)
colls.pop(0)
colls.pop(0)
collss=["mb","mxb","memb","mxmb","mlb","lmb","lb","mdb"]
for i in collss:
    tce[i]=pd.Series(range(1,len(tce)+1))
colls

['mean_based',
 'max_based',
 'mean_max_based',
 'max_mean_based',
 'mean_last_based',
 'last_mean_based',
 'last_based',
 'middle_based']

In [28]:
for i,j in zip(colls,collss):
    for k in range(len(tce)):
        tce[j][k]=tce["original_val"][k]-tce[i][k]
tce

<ipython-input-28-35e3607d3c2a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tce[j][k]=tce["original_val"][k]-tce[i][k]

,date,original_val,mean_based,max_based,mean_max_based,max_mean_based,mean_last_based,last_mean_based,last_based,middle_based,mb,mxb,memb,mxmb,mlb,lmb,lb,mdb
0,2020-03-31,1635,1040,1604,1526,1093,1526,1052,1544,1068,595,31,109,542,109,583,91,567
1,2020-04-01,2059,1228,2016,1901,1302,1901,1302,2016,1176,831,43,158,757,158,757,43,883
2,2020-04-02,2545,1480,2593,2426,1582,2426,1582,2593,1273,1065,-48,119,963,119,963,-48,1272
3,2020-04-03,3105,1813,3205,3045,1908,3045,1873,3146,1544,1292,-100,60,1197,60,1232,-41,1561
4,2020-04-04,3684,2195,3910,3719,2308,3719,2236,3788,2016,1489,-226,-35,1376,-35,1448,-104,1668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020-10-04,6622192,6389421,6638685,6631090,6396739,6631090,6382379,6623781,6398233,232771,-16493,-8898,225453,-8898,239813,-1589,223959
196,2020-10-05,6682322,6466640,6714497,6704548,6476236,6704548,6460147,6697816,6474904,215682,-32175,-22226,206086,-22226,222175,-15494,207418
197,2020-10-06,6754191,6542432,6775465,6763143,6554352,6763143,6522945,6742998,6552824,211759,-21274,-8952,199839,-8952,231246,11193,201367
198,2020-10-07,6832658,6616963,6848336,6833614,6631218,6833614,6610397,6826833,6623781,215695,-15678,-956,201440,-956,222261,5825,208877
199,2020-10-08,0,6690273,6921212,6910738,6700413,6910738,6691530,6912037,6697816,-6690273,-6921212,-6910738,-6700413,-6910738,-6691530,-6912037,-6697816

In [29]:
tce.to_excel("tamerrprd_df_strd.xlsx")
tce=pd.read_excel(r"C:\Users\Mark 1\tamerrprd_df_strd.xlsx")
tce = tce.loc[:, ~tce.columns.str.contains('^Unnamed')]
tce.to_excel("tamerrprd_df_strd.xlsx")

In [30]:
edf=tce.iloc[0:len(tce),10:]
edf

          mb      mxb     memb     mxmb      mlb      lmb       lb      mdb
0        595       31      109      542      109      583       91      567
1        831       43      158      757      158      757       43      883
2       1065      -48      119      963      119      963      -48     1272
3       1292     -100       60     1197       60     1232      -41     1561
4       1489     -226      -35     1376      -35     1448     -104     1668
..       ...      ...      ...      ...      ...      ...      ...      ...
195   232771   -16493    -8898   225453    -8898   239813    -1589   223959
196   215682   -32175   -22226   206086   -22226   222175   -15494   207418
197   211759   -21274    -8952   199839    -8952   231246    11193   201367
198   215695   -15678     -956   201440     -956   222261     5825   208877
199 -6690273 -6921212 -6910738 -6700413 -6910738 -6691530 -6912037 -6697816

[200 rows x 8 columns]

In [31]:
"""
for j,k in zip(range(len(edf)),range(len(tce)-1)):
    
    a=list(edf.loc[j])
    pos=[]
    neg=[]
    for i in a:
        if(i>=0):
            pos.append(i)
        else:
            neg.append(i)
    if(len(pos)):
        ps=min(pos)
        psi=a.index(ps)
        psc=list(edf.columns)[psi]
    if(len(neg)):
        ng=max(neg)
        ngi=a.index(ng)
        ngc=list(edf.columns)[ngi]
    
    
    print("for date: "+str(tce["date"][k]).strip("00:00:00")+" the lowest positve error was by the method: "+psc+" and the highest negative error by the method: "+ngc)
    """

'\nfor j,k in zip(range(len(edf)),range(len(tce)-1)):\n    \n    a=list(edf.loc[j])\n    pos=[]\n    neg=[]\n    for i in a:\n        if(i>=0):\n            pos.append(i)\n        else:\n            neg.append(i)\n    if(len(pos)):\n        ps=min(pos)\n        psi=a.index(ps)\n        psc=list(edf.columns)[psi]\n    if(len(neg)):\n        ng=max(neg)\n        ngi=a.index(ng)\n        ngc=list(edf.columns)[ngi]\n    \n    \n    print("for date: "+str(tce["date"][k]).strip("00:00:00")+" the lowest positve error was by the method: "+psc+" and the highest negative error by the method: "+ngc)\n    '

In [32]:
err_dict={"date":[],"mipe":[],"mxne":[],"mipv":[],"mxnv":[],"original_val":[],"pprd_val":[],"nprd_val":[]}
psc=[]
ngc=[]
date=[]
ps=[]
ng=[]
org_val=[]
pprd_val=[]
nprd_val=[]
for j,k in zip(range(len(edf)),range(len(tce))):
    
    a=list(edf.loc[j])
    pos=[]
    neg=[]
    for i in a:
        if(i>=0):
            pos.append(i)
        else:
            neg.append(i)
    if(len(pos)):
        aa=min(pos)
    
        psi=a.index(aa)
    
        ps.append(aa)
    
        psc.append(list(edf.columns)[psi])
    
    
        pprd_val.append(tce["original_val"][k]-aa)
    else:
        ps.append("No")
    
        psc.append("No")
    
    
        pprd_val.append("No")
        
    
    if(len(neg)):
        bb=max(neg)
        ngi=a.index(bb)
        ng.append(bb)
        ngc.append(list(edf.columns)[ngi])
        nprd_val.append(tce["original_val"][k]-bb)
    else:
        ng.append("No")
    
        ngc.append("No")
    
    
        nprd_val.append("No")
    
    date.append(str(tce["date"][k]).strip("00:00:00"))
    org_val.append(tce["original_val"][k])
err_dict.update({"date":date})
err_dict.update({"mipe":psc})
err_dict.update({"mxne":ngc})
err_dict.update({"mipv":ps})
err_dict.update({"mxnv":ng})
err_dict.update({"original_val":org_val})
err_dict.update({"pprd_val":pprd_val})
err_dict.update({"nprd_val":nprd_val})

In [33]:
err_dict

{'date': ['2020-03-31 ',
  '2020-04-01 ',
  '2020-04-02 ',
  '2020-04-03 ',
  '2020-04-04 ',
  '2020-04-05 ',
  '2020-04-06 ',
  '2020-04-07 ',
  '2020-04-08 ',
  '2020-04-09 ',
  '2020-04-10 ',
  '2020-04-11 ',
  '2020-04-12 ',
  '2020-04-13 ',
  '2020-04-14 ',
  '2020-04-15 ',
  '2020-04-16 ',
  '2020-04-17 ',
  '2020-04-18 ',
  '2020-04-19 ',
  '2020-04-20 ',
  '2020-04-21 ',
  '2020-04-22 ',
  '2020-04-23 ',
  '2020-04-24 ',
  '2020-04-25 ',
  '2020-04-26 ',
  '2020-04-27 ',
  '2020-04-28 ',
  '2020-04-29 ',
  '2020-04-30 ',
  '2020-05-01 ',
  '2020-05-02 ',
  '2020-05-03 ',
  '2020-05-04 ',
  '2020-05-05 ',
  '2020-05-06 ',
  '2020-05-07 ',
  '2020-05-08 ',
  '2020-05-09 ',
  '2020-05-10 ',
  '2020-05-11 ',
  '2020-05-12 ',
  '2020-05-13 ',
  '2020-05-14 ',
  '2020-05-15 ',
  '2020-05-16 ',
  '2020-05-17 ',
  '2020-05-18 ',
  '2020-05-19 ',
  '2020-05-20 ',
  '2020-05-21 ',
  '2020-05-22 ',
  '2020-05-23 ',
  '2020-05-24 ',
  '2020-05-25 ',
  '2020-05-26 ',
  '2020-05-27 ',
  '2020-05-28 ',
  '2020-05-29 ',
  '2020-05-30 ',
  '2020-05-31 ',
  '2020-06-01 ',
  '2020-06-02 ',
  '2020-06-03 ',
  '2020-06-04 ',
  '2020-06-05 ',
  '2020-06-06 ',
  '2020-06-07 ',
  '2020-06-08 ',
  '2020-06-09 ',
  '2020-06-10 ',
  '2020-06-11 ',
  '2020-06-12 ',
  '2020-06-13 ',
  '2020-06-14 ',
  '2020-06-15 ',
  '2020-06-16 ',
  '2020-06-17 ',
  '2020-06-18 ',
  '2020-06-19 ',
  '2020-06-20 ',
  '2020-06-21 ',
  '2020-06-22 ',
  '2020-06-23 ',
  '2020-06-24 ',
  '2020-06-25 ',
  '2020-06-26 ',
  '2020-06-27 ',
  '2020-06-28 ',
  '2020-06-29 ',
  '2020-06-30 ',
  '2020-07-01 ',
  '2020-07-02 ',
  '2020-07-03 ',
  '2020-07-04 ',
  '2020-07-05 ',
  '2020-07-06 ',
  '2020-07-07 ',
  '2020-07-08 ',
  '2020-07-09 ',
  '2020-07-10 ',
  '2020-07-11 ',
  '2020-07-12 ',
  '2020-07-13 ',
  '2020-07-14 ',
  '2020-07-15 ',
  '2020-07-16 ',
  '2020-07-17 ',
  '2020-07-18 ',
  '2020-07-19 ',
  '2020-07-20 ',
  '2020-07-21 ',
  '2020-07-22 ',
  '2020-07-23 ',
  '2020-07-24 ',
  '2020-07-25 ',
  '2020-07-26 ',
  '2020-07-27 ',
  '2020-07-28 ',
  '2020-07-29 ',
  '2020-07-30 ',
  '2020-07-31 ',
  '2020-08-01 ',
  '2020-08-02 ',
  '2020-08-03 ',
  '2020-08-04 ',
  '2020-08-05 ',
  '2020-08-06 ',
  '2020-08-07 ',
  '2020-08-08 ',
  '2020-08-09 ',
  '2020-08-10 ',
  '2020-08-11 ',
  '2020-08-12 ',
  '2020-08-13 ',
  '2020-08-14 ',
  '2020-08-15 ',
  '2020-08-16 ',
  '2020-08-17 ',
  '2020-08-18 ',
  '2020-08-19 ',
  '2020-08-20 ',
  '2020-08-21 ',
  '2020-08-22 ',
  '2020-08-23 ',
  '2020-08-24 ',
  '2020-08-25 ',
  '2020-08-26 ',
  '2020-08-27 ',
  '2020-08-28 ',
  '2020-08-29 ',
  '2020-08-30 ',
  '2020-08-31 ',
  '2020-09-01 ',
  '2020-09-01 ',
  '2020-09-01 ',
  '2020-09-02 ',
  '2020-09-03 ',
  '2020-09-04 ',
  '2020-09-05 ',
  '2020-09-06 ',
  '2020-09-07 ',
  '2020-09-08 ',
  '2020-09-08 ',
  '2020-09-09 ',
  '2020-09-10 ',
  '2020-09-11 ',
  '2020-09-11 ',
  '2020-09-12 ',
  '2020-09-13 ',
  '2020-09-13 ',
  '2020-09-13 ',
  '2020-09-13 ',
  '2020-09-14 ',
  '2020-09-15 ',
  '2020-09-16 ',
  '2020-09-17 ',
  '2020-09-18 ',
  '2020-09-19 ',
  '2020-09-20 ',
  '2020-09-21 ',
  '2020-09-22 ',
  '2020-09-23 ',
  '2020-09-24 ',
  '2020-09-25 ',
  '2020-09-26 ',
  '2020-09-26 ',
  '2020-09-27 ',
  '2020-09-28 ',
  '2020-09-29 ',
  '2020-09-30 ',
  '2020-10-01 ',
  '2020-10-02 ',
  '2020-10-03 ',
  '2020-10-04 ',
  '2020-10-05 ',
  '2020-10-06 ',
  '2020-10-07 ',
  '2020-10-08 '],
 'mipe': ['mxb',
  'mxb',
  'memb',
  'memb',
  'mxmb',
  'mxmb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'mxmb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'mdb',
  'memb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'memb',
  'lb',
  'mxb',
  'mxb',
  'mxmb',
  'memb',
  'mxmb',
  'mxmb',
  'mxmb',
  'memb',
  'mxmb',
  'mxmb',
  'mxmb',
  'lb',
  'mxmb',
  'memb',
  'memb',
  'mxmb',
  'mxb',
  'memb',
  'memb',
  'lb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'mdb',
  'memb',
  'mxmb',
  'lb',
  'mxmb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'lb',
  'mxmb',
  'lb',
  'lb',
  'mdb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'memb',
  'lb',
  'lb',
  'mxb',
  'memb',
  'mxmb',
  'lb',
  'memb',
  'lb',
  'memb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'memb',
  'memb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'mxmb',
  'memb',
  'mxmb',
  'memb',
  'mxmb',
  'lb',
  'memb',
  'mxb',
  'memb',
  'lb',
  'mxb',
  'mxmb',
  'lb',
  'mxb',
  'mxb',
  'memb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'lb',
  'lb',
  'lb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mdb',
  'lb',
  'memb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'lb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'lb',
  'memb',
  'memb',
  'memb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'mxmb',
  'lb',
  'lb',
  'mdb',
  'lb',
  'lb',
  'memb',
  'mxmb',
  'mxmb',
  'lb',
  'memb',
  'memb',
  'mxmb',
  'memb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'lb',
  'lb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mxmb',
  'mdb',
  'lb',
  'lb',
  'mxmb',
  'mxmb',
  'mxmb',
  'lb',
  'mxmb',
  'mxmb',
  'lb',
  'lb',
  'mdb',
  'mxmb',
  'mxmb',
  'mdb',
  'mxmb',
  'lb',
  'lb',
  'No'],
 'mxne': ['No',
  'No',
  'mxb',
  'lb',
  'memb',
  'lb',
  'lb',
  'memb',
  'lb',
  'memb',
  'lb',
  'lb',
  'lb',
  'mxb',
  'memb',
  'lb',
  'memb',
  'lb',
  'mxb',
  'mxb',
  'memb',
  'memb',
  'lb',
  'memb',
  'lb',
  'memb',
  'lb',
  'lb',
  'memb',
  'lb',
  'memb',
  'mxb',
  'mxb',
  'No',
  'No',
  'memb',
  'mxb',
  'memb',
  'lb',
  'lb',
  'mxb',
  'memb',
  'lb',
  'lb',
  'memb',
  'lb',
  'mxb',
  'lb',
  'memb',
  'No',
  'mxb',
  'lb',
  'mxb',
  'memb',
  'memb',
  'lb',
  'lb',
  'memb',
  'lb',
  'mxb',
  'memb',
  'mxb',
  'memb',
  'memb',
  'mxb',
  'memb',
  'lb',
  'memb',
  'memb',
  'memb',
  'memb',
  'memb',
  'lb',
  'lb',
  'memb',
  'memb',
  'lb',
  'memb',
  'mxb',
  'mxb',
  'mxb',
  'No',
  'mxb',
  'memb',
  'memb',
  'mxb',
  'mxb',
  'lb',
  'mxb',
  'mxb',
  'memb',
  'lb',
  'memb',
  'mxb',
  'lb',
  'mxb',
  'lb',
  'memb',
  'lb',
  'memb',
  'lb',
  'mxb',
  'memb',
  'mxb',
  'memb',
  'memb',
  'mxb',
  'No',
  'mxb',
  'mxb',
  'No',
  'memb',
  'memb',
  'No',
  'No',
  'mxb',
  'lb',
  'memb',
  'lb',
  'memb',
  'memb',
  'memb',
  'memb',
  'memb',
  'lb',
  'lb',
  'lb',
  'memb',
  'mxb',
  'memb',
  'mxb',
  'memb',
  'lb',
  'memb',
  'memb',
  'lb',
  'lb',
  'lb',
  'lb',
  'lb',
  'memb',
  'mxb',
  'memb',
  'memb',
  'memb',
  'memb',
  'lb',
  'memb',
  'mxb',
  'lb',
  'lb',
  'mxb',
  'lb',
  'memb',
  'lb',
  'lb',
  'memb',
  'memb',
  'memb',
  'mxb',
  'mxb',
  'mxb',
  'memb',
  'lb',
  'memb',
  'mxb',
  'lb',
  'memb',
  'lb',
  'memb',
  'lb',
  'lb',
  'lb',
  'lb',
  'lb',
  'memb',
  'memb',
  'lb',
  'lb',
  'lb',
  'lb',
  'lb',
  'memb',
  'memb',
  'lb',
  'lb',
  'lb',
  'memb',
  'memb',
  'lb',
  'memb',
  'memb',
  'memb',
  'lb',
  'lb',
  'lb',
  'lb',
  'memb',
  'memb',
  'mb'],
 'mipv': [31,
  43,
  119,
  60,
  1376,
  1506,
  1422,
  34,
  1271,
  188,
  1699,
  1953,
  2034,
  181,
  2758,
  2647,
  107,
  2489,
  3,
  78,
  3121,
  209,
  3795,
  292,
  3944,
  341,
  4140,
  4450,
  246,
  4752,
  3,
  269,
  3,
  212,
  485,
  8221,
  285,
  9276,
  9284,
  8981,
  72,
  9528,
  10069,
  9974,
  78,
  10302,
  216,
  181,
  13234,
  552,
  108,
  52,
  190,
  17961,
  92,
  18811,
  17952,
  1098,
  19323,
  17,
  21825,
  22,
  23711,
  779,
  81,
  26803,
  27077,
  540,
  15,
  28340,
  1162,
  801,
  29446,
  31002,
  304,
  32305,
  32175,
  752,
  263,
  236,
  390,
  523,
  361,
  42199,
  1665,
  79,
  713,
  119,
  1209,
  221,
  55344,
  54729,
  586,
  250,
  434,
  477,
  336,
  67455,
  67965,
  1670,
  71685,
  397,
  76779,
  377,
  82636,
  836,
  1023,
  1582,
  451,
  1385,
  830,
  109069,
  1152,
  1028,
  1101,
  2514,
  1302,
  141772,
  141065,
  1642,
  1186,
  691,
  611,
  157622,
  159638,
  155930,
  150057,
  3927,
  1140,
  163918,
  1836,
  181116,
  173810,
  6967,
  4159,
  179709,
  182335,
  181744,
  181097,
  171867,
  9608,
  184,
  186982,
  191062,
  199107,
  195252,
  187901,
  6029,
  3443,
  3275,
  1858,
  71,
  2237,
  221283,
  144802,
  144802,
  8095,
  3035,
  232705,
  1119,
  1555,
  2932,
  250285,
  164152,
  13491,
  2116,
  1385,
  177231,
  331,
  276223,
  183594,
  183594,
  183594,
  276809,
  266899,
  7821,
  5075,
  268504,
  267295,
  271239,
  267736,
  248817,
  7856,
  2092,
  235926,
  239836,
  155340,
  1705,
  247994,
  237137,
  10033,
  5193,
  234786,
  231474,
  224514,
  223959,
  206086,
  11193,
  5825,
  'No'],
 'mxnv': ['No',
  'No',
  -48,
  -41,
  -35,
  -78,
  -226,
  -391,
  -77,
  -156,
  -54,
  -130,
  -192,
  -23,
  -208,
  -247,
  -317,
  -230,
  -566,
  -542,
  -395,
  -47,
  -372,
  -71,
  -389,
  -100,
  -366,
  -137,
  -113,
  -320,
  -327,
  -221,
  -233,
  'No',
  'No',
  -150,
  -620,
  -355,
  -216,
  -362,
  -1062,
  -884,
  -222,
  -15,
  -447,
  -387,
  -1094,
  -13,
  -335,
  'No',
  -811,
  -4,
  -716,
  -178,
  -50,
  -1084,
  -804,
  -454,
  -340,
  -1004,
  -7,
  -1054,
  -1175,
  -280,
  -508,
  -171,
  -822,
  -235,
  -84,
  -2760,
  -1410,
  -389,
  -472,
  -261,
  -166,
  -1037,
  -1777,
  -1612,
  -1207,
  -453,
  -79,
  'No',
  -1404,
  -1856,
  -353,
  -1471,
  -812,
  -651,
  -341,
  -1328,
  -1786,
  -695,
  -1891,
  -1982,
  -25,
  -1677,
  -964,
  -1795,
  -78,
  -197,
  -650,
  -1613,
  -412,
  -1105,
  -1371,
  -552,
  -140,
  'No',
  -1945,
  -627,
  'No',
  -2207,
  -1273,
  'No',
  'No',
  -1448,
  -671,
  -1961,
  -4174,
  -4212,
  -3071,
  -1593,
  -9,
  -3693,
  -4235,
  -3767,
  -618,
  -3883,
  -6664,
  -633,
  -2621,
  -2015,
  -10894,
  -4618,
  -377,
  -4856,
  -250,
  -3374,
  -7499,
  -5124,
  -3506,
  -10492,
  -694,
  -748,
  -144,
  -9347,
  -3306,
  -5507,
  -4834,
  -956,
  -1945,
  -3092,
  -801,
  -11299,
  -70073,
  -70073,
  -3305,
  -376,
  -79,
  -2063,
  -554,
  -919,
  -15669,
  -76361,
  -1756,
  -2895,
  -859,
  -97323,
  -1204,
  -4511,
  -96323,
  -96323,
  -96323,
  -3108,
  -13133,
  -9371,
  -2690,
  -2971,
  -5834,
  -1683,
  -6794,
  -14317,
  -13515,
  -8806,
  -2113,
  -1489,
  -86983,
  -1784,
  -6922,
  -14246,
  -7622,
  -850,
  -5751,
  -3161,
  -4996,
  -1589,
  -15494,
  -8952,
  -956,
  -6690273],
 'original_val': [1635,
  2059,
  2545,
  3105,
  3684,
  4293,
  4777,
  5350,
  5915,
  6728,
  7599,
  8453,
  9211,
  10454,
  11485,
  12371,
  13432,
  14354,
  15725,
  17305,
  18544,
  20081,
  21373,
  23040,
  24448,
  26283,
  27890,
  29458,
  31360,
  33065,
  34866,
  37262,
  39826,
  42778,
  46434,
  49405,
  53007,
  56351,
  59690,
  62865,
  67176,
  70768,
  74330,
  78056,
  82047,
  85855,
  90649,
  95698,
  100326,
  106480,
  112200,
  118223,
  124759,
  131424,
  138537,
  144951,
  150858,
  158104,
  165358,
  173496,
  181860,
  190649,
  198372,
  207187,
  216876,
  226723,
  236195,
  246603,
  257485,
  266021,
  276002,
  287158,
  298293,
  309599,
  321638,
  333043,
  343075,
  354161,
  367269,
  381098,
  395838,
  411753,
  426904,
  440464,
  456120,
  472988,
  491193,
  509448,
  529590,
  549200,
  567539,
  585795,
  605224,
  627171,
  649889,
  673907,
  697849,
  720349,
  743496,
  769057,
  794847,
  822609,
  850366,
  879472,
  907650,
  937567,
  970174,
  1005642,
  1040462,
  1077873,
  1118108,
  1154914,
  1194084,
  1239685,
  1288128,
  1337016,
  1387088,
  1436020,
  1482504,
  1532135,
  1584614,
  1639582,
  1697068,
  1752185,
  1804857,
  1855345,
  1906627,
  1963253,
  2025423,
  2086878,
  2152034,
  2214151,
  2267167,
  2328419,
  2395485,
  2459627,
  2525236,
  2589222,
  2647330,
  2701618,
  2766640,
  2835836,
  2904343,
  2973382,
  3043450,
  3105199,
  3164895,
  3231768,
  3307763,
  3384589,
  3461254,
  3539726,
  3619183,
  3687953,
  3687953,
  3687953,
  3766121,
  3848981,
  3933137,
  4020252,
  4110852,
  4202575,
  4277597,
  4277597,
  4367449,
  4462978,
  4559738,
  4559738,
  4657392,
  4751801,
  4751801,
  4751801,
  4751801,
  4845016,
  4926927,
  5018044,
  5115900,
  5212693,
  5305482,
  5398239,
  5485634,
  5560127,
  5643488,
  5730191,
  5816113,
  5901833,
  5901833,
  5990521,
  6073359,
  6143027,
  6223527,
  6310275,
  6392059,
  6471742,
  6547422,
  6622192,
  6682322,
  6754191,
  6832658,
  0],
 'pprd_val': [1604,
  2016,
  2426,
  3045,
  2308,
  2787,
  3355,
  5316,
  4644,
  6540,
  5900,
  6500,
  7177,
  10273,
  8727,
  9724,
  13325,
  11865,
  15722,
  17227,
  15423,
  19872,
  17578,
  22748,
  20504,
  25942,
  23750,
  25008,
  31114,
  28313,
  34863,
  36993,
  39823,
  42566,
  45949,
  41184,
  52722,
  47075,
  50406,
  53884,
  67104,
  61240,
  64261,
  68082,
  81969,
  75553,
  90433,
  95517,
  87092,
  105928,
  112092,
  118171,
  124569,
  113463,
  138445,
  126140,
  132906,
  157006,
  146035,
  173479,
  160035,
  190627,
  174661,
  206408,
  216795,
  199920,
  209118,
  246063,
  257470,
  237681,
  274840,
  286357,
  268847,
  278597,
  321334,
  300738,
  310900,
  353409,
  367006,
  380862,
  395448,
  411230,
  426543,
  398265,
  454455,
  472909,
  490480,
  509329,
  528381,
  548979,
  512195,
  531066,
  604638,
  626921,
  649455,
  673430,
  697513,
  652894,
  675531,
  767387,
  723162,
  822212,
  773587,
  879095,
  825014,
  936731,
  969151,
  1004060,
  1040011,
  1076488,
  1117278,
  1045845,
  1192932,
  1238657,
  1287027,
  1334502,
  1385786,
  1294248,
  1341439,
  1530493,
  1583428,
  1638891,
  1696457,
  1594563,
  1645219,
  1699415,
  1756570,
  1959326,
  2024283,
  1922960,
  2150198,
  2033035,
  2093357,
  2321452,
  2391326,
  2279918,
  2342901,
  2407478,
  2466233,
  2529751,
  2757032,
  2835652,
  2717361,
  2782320,
  2844343,
  2909947,
  2976994,
  3225739,
  3304320,
  3381314,
  3459396,
  3539655,
  3616946,
  3466670,
  3543151,
  3543151,
  3758026,
  3845946,
  3700432,
  4019133,
  4109297,
  4199643,
  4027312,
  4113445,
  4353958,
  4460862,
  4558353,
  4382507,
  4657061,
  4475578,
  4568207,
  4568207,
  4568207,
  4568207,
  4660028,
  5010223,
  5110825,
  4944189,
  5038187,
  5127000,
  5217898,
  5311310,
  5635632,
  5728099,
  5580187,
  5661997,
  5746493,
  5988816,
  5825365,
  5905890,
  6213494,
  6305082,
  6157273,
  6240268,
  6322908,
  6398233,
  6476236,
  6742998,
  6826833,
  'No'],
 'nprd_val': ['No',
  'No',
  2593,
  3146,
  3719,
  4371,
  5003,
  5741,
  5992,
  6884,
  7653,
  8583,
  9403,
  10477,
  11693,
  12618,
  13749,
  14584,
  16291,
  17847,
  18939,
  20128,
  21745,
  23111,
  24837,
  26383,
  28256,
  29595,
  31473,
  33385,
  35193,
  37483,
  40059,
  'No',
  'No',
  49555,
  53627,
  56706,
  59906,
  63227,
  68238,
  71652,
  74552,
  78071,
  82494,
  86242,
  91743,
  95711,
  100661,
  'No',
  113011,
  118227,
  125475,
  131602,
  138587,
  146035,
  151662,
  158558,
  165698,
  174500,
  181867,
  191703,
  199547,
  207467,
  217384,
  226894,
  237017,
  246838,
  257569,
  268781,
  277412,
  287547,
  298765,
  309860,
  321804,
  334080,
  344852,
  355773,
  368476,
  381551,
  395917,
  'No',
  428308,
  442320,
  456473,
  474459,
  492005,
  510099,
  529931,
  550528,
  569325,
  586490,
  607115,
  629153,
  649914,
  675584,
  698813,
  722144,
  743574,
  769254,
  795497,
  824222,
  850778,
  880577,
  909021,
  938119,
  970314,
  'No',
  1042407,
  1078500,
  'No',
  1157121,
  1195357,
  'No',
  'No',
  1338464,
  1387759,
  1437981,
  1486678,
  1536347,
  1587685,
  1641175,
  1697077,
  1755878,
  1809092,
  1859112,
  1907245,
  1967136,
  2032087,
  2087511,
  2154655,
  2216166,
  2278061,
  2333037,
  2395862,
  2464483,
  2525486,
  2592596,
  2654829,
  2706742,
  2770146,
  2846328,
  2905037,
  2974130,
  3043594,
  3114546,
  3168201,
  3237275,
  3312597,
  3385545,
  3463199,
  3542818,
  3619984,
  3699252,
  3758026,
  3758026,
  3769426,
  3849357,
  3933216,
  4022315,
  4111406,
  4203494,
  4293266,
  4353958,
  4369205,
  4465873,
  4560597,
  4657061,
  4658596,
  4756312,
  4848124,
  4848124,
  4848124,
  4848124,
  4940060,
  5027415,
  5118590,
  5215664,
  5311316,
  5399922,
  5492428,
  5574444,
  5657003,
  5738997,
  5818226,
  5903322,
  5988816,
  5992305,
  6080281,
  6157273,
  6231149,
  6311125,
  6397810,
  6474903,
  6552418,
  6623781,
  6697816,
  6763143,
  6833614,
  6690273]}

In [34]:
err_df=pd.DataFrame(err_dict)
err_df

            date  mipe  mxne    mipv      mxnv  original_val pprd_val nprd_val
0    2020-03-31    mxb    No      31        No          1635     1604       No
1    2020-04-01    mxb    No      43        No          2059     2016       No
2    2020-04-02   memb   mxb     119       -48          2545     2426     2593
3    2020-04-03   memb    lb      60       -41          3105     3045     3146
4    2020-04-04   mxmb  memb    1376       -35          3684     2308     3719
..           ...   ...   ...     ...       ...           ...      ...      ...
195  2020-10-04    mdb    lb  223959     -1589       6622192  6398233  6623781
196  2020-10-05   mxmb    lb  206086    -15494       6682322  6476236  6697816
197  2020-10-06     lb  memb   11193     -8952       6754191  6742998  6763143
198  2020-10-07     lb  memb    5825      -956       6832658  6826833  6833614
199  2020-10-08     No    mb      No  -6690273             0       No  6690273

[200 rows x 8 columns]

In [35]:
err_df.to_excel("tcerr_df.xlsx")
errdf=pd.read_excel(r"C:\Users\Mark 1\tcerr_df.xlsx")
errdf = errdf.loc[:, ~errdf.columns.str.contains('^Unnamed')]
errdf.to_excel("tcerr_df.xlsx")

In [36]:
Counter(err_df['mipe'])

Counter({'mxb': 10, 'memb': 37, 'mxmb': 86, 'lb': 58, 'mdb': 8, 'No': 1})

In [37]:
mnval=max(list(Counter(err_df['mipe']).values()))
mnvalidx=list(Counter(err_df['mipe']).values()).index(mnval)
mnkys=list(Counter(err_df['mipe']).keys())[mnvalidx]
print("method: "+mnkys+" and values is: ",Counter(err_df['mipe'])[mnkys])

method: mxmb and values is:  86

In [38]:
Counter(err_df['mxne'])

Counter({'No': 10, 'mxb': 39, 'lb': 72, 'memb': 78, 'mb': 1})

In [39]:
mxval=max(list(Counter(err_df['mxne']).values()))
mxvalidx=list(Counter(err_df['mxne']).values()).index(mxval)
mxkys=list(Counter(err_df['mxne']).keys())[mxvalidx]
print("method: "+mxkys+" and values is: ",Counter(err_df['mxne'])[mxkys])

method: memb and values is:  78

In [40]:
err_df['mipe'][len(err_df)-2]

'lb'

In [41]:
err_df['mxne'][len(err_df)-2]

'memb'